@media (orientation: landscape) {
    .error {
        margin-top: 4vh;
        margin-bottom: 0;
    }
    
    .success {
        margin-top: 4vh;
        margin-bottom: 0;
    }

    .content .account div .title {
        font-family: var(--font-family-sf_pro_display-regular);
        font-size: 0.9375vw;
        font-weight: 500;
        line-height: 0.9375vw;
        letter-spacing: -0.01em;
        text-align: left;
        color: #989FA6;
        margin-top: 4vh;
        margin-bottom: 0;
    }
    
    .content .account .data {
        margin-top: 1.6vh;
        display: inline-block;
        font-family: var(--font-family-sf_pro_display-regular);
        font-size: 0.9375vw;
        font-weight: 400;
        line-height: 0.9375vw;
    }
    
    .content .account .data .currentPasswordRow {
        width: 36.4583333332vw;
    }
    
    .content .account .data .currentPasswordRow #currentPasswordInput {
        height: 7vh;
        width: 36.4583333332vw;
    }
    
    .content .account .data .newPasswordRow {
        margin-top: 1.2vh;
        height: 7vh;
        width: 36.4583333332vw;	
    }
    
    .content .account .data .newPasswordRow #password1Input {
        height: 7vh;
        width: 17.9166666666vw;
    }
    
    .content .account .data .newPasswordRow #password2Input {
        height: 7vh;
        width: 17.9166666666vw;
        float: right;
    }	
    
    .content .account .data .submitRow {
        margin-top: 2vh;
        width: 36.4583333332vw;
    }
}

@media (orientation: portrait) {

}
