{% extends 'layouts/account.html' %}
{% load static %}
{% block password_selected %}selected-item{% endblock %}
{% block account_content %}
	{% if answer %}
	<p {% if is_success %} class="success" {% else %} class="error" {% endif %}>{{ answer }}</p>
	{% endif %}
	<p class="title">Смена пароля</p>
	<form class="data" method="POST" action="{% url 'account_update_password' %}">
		{% csrf_token %}
		<div class="currentPasswordRow">
			<input id="currentPasswordInput" name="current_password" type="password" placeholder="Введите текущий пароль"/>
		</div>
		<div class="newPasswordRow">
			<input id="password1Input" name="password1" type="password" placeholder="Новый пароль"/>
			<input id="password2Input" name="password2" type="password" placeholder="Новый пароль еще раз"/>
		</div>		
		<div class="submitRow">
			<input id="submitButton" type="submit" class="active submit text_label" value="Обновить"/>
		</div>
	</form>
	<script>
		function changeActive() {
			if (currentPasswordInput.value.trim() !== "" && password1Input.value.trim() !== "" && password2Input.value.trim() !== "") {
				submitButton.classList.add("active");
				submitButton.removeAttribute("disabled");
			} else {
				submitButton.classList.remove("active");
				submitButton.setAttribute("disabled", "disabled");
			}
		};

		changeActive();

		currentPasswordInput.addEventListener("input", changeActive);
		password1Input.addEventListener("input", changeActive);
		password2Input.addEventListener("input", changeActive);
	</script>
{% endblock %}
