{% extends 'layouts/account.html' %}
{% load static %}
{% block another_css_files %}
    <link href="{% static 'css/account/common.css' %}" rel="stylesheet"/>
	<link href="{% static 'css/account/password.css' %}" rel="stylesheet"/>
{% endblock %}
{% block password_selected %}selected{% endblock %}
{% block account_content %}
	{% if answer %}
		<p class="{{ is_success|yesno:'success,error' }}">{{ answer }}</p>
	{% endif %}
	<p>Смена пароля</p>
	<form class="data" method="POST" action="{% url 'account_update_password' %}">
		{% csrf_token %}
		<div class="current-password">
			<input id="currentPasswordInput" name="current_password" type="password" placeholder="Введите текущий пароль"/>
		</div>
		<div class="new-password">
			<input id="password1Input" name="password1" type="password" placeholder="Новый пароль"/>
			<input id="password2Input" name="password2" type="password" placeholder="Новый пароль еще раз"/>
		</div>		
		<div class="submit">
			<input id="submitButton" type="submit" class="active submit text_label" value="Обновить"/>
		</div>
	</form>
	<script>
		function changeActive() {
			if (currentPasswordInput.value.trim() !== "" && password1Input.value.trim() !== "" && password2Input.value.trim() !== "") {
				submitButton.classList.add("active");
				submitButton.removeAttribute("disabled");
			} else {
				submitButton.classList.remove("active");
				submitButton.setAttribute("disabled", "disabled");
			}
		};

		changeActive();

		currentPasswordInput.addEventListener("input", changeActive);
		password1Input.addEventListener("input", changeActive);
		password2Input.addEventListener("input", changeActive);
	</script>
{% endblock %}
