{% extends 'layouts/auth.html' %}
{% load static %}
{% block title %}Авторизация{% endblock %}
{% block style %}

  .login-frame h1 {
    font-family: var(--font-family-sf_pro_display-medium);
    font-size: 2.08333333333vw;
    font-weight: 500;
    line-height: 2.5vw;
    text-align: left;
  }

  .login-frame form input {
    width: 100%;
    height: 7vh;
    border: none;
    border-radius: 2vh;
    padding: 2.6vh;
    gap: 1vh;
    background-color: #F1F3F5;

    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.9375vw;
    font-weight: 500;
    line-height: 0.9375vw;
    text-align: left;
    color: #141516;
  }

  input::placeholder {
    color: #989FA6;
  }

  #emailInput {
    {% if not error %}
      margin-top: 3vh;
    {% endif %}
  }

  #passwordInput {
    margin-top: 1.2vh;
  }

  .login-frame .links {
    margin-top: 2vh;
    display: inline-block;
  }

  .login-frame .links a {
    display: inline-block;
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.9375vw;
    font-weight: 500;
    line-height: 0.9375vw;
    color: #989FA6;
    text-decoration: none;
  }

  .login-frame .links #resetPasswordLink {
    margin-right: 3.28125vw;
  }

  .login-frame .links #registrationLink {
    width: 60px;
  }

  .error {
    color: red;
    opacity: 0.75;
  }

  #submitButton {
    margin-top: 2vh;
    text-align: center;
    color: #989FA6;
  }

  .sky-hovered:hover {
		background-color: #04D1E5 !important;
	}

	.active {
		background-color: #1599F5 !important;
		color: var(--white) !important;
	}

{% endblock %}
{% block content %}
  <div class="login-frame">
    <h1>Логин</h1>

    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}
  
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <input id="emailInput" name="email" type="email" placeholder="Email" />
      <input id="passwordInput" name="password" type="password" placeholder="Пароль" />
      <input id="submitButton" class="submit-button" type="submit" value="Войти" />
    </form>
  
    <div class="links">
      <a id="resetPasswordLink" href="{% url 'password_reset' %}">Восстановить пароль</a>
      <a id="registrationLink" href="{% url 'registration' %}">Регистрация</a>
    </div>
  
    <script>
      function checkActive() {
        if (emailInput.value == "" || passwordInput.value == "") {
          submitButton.classList.remove("active");
          submitButton.classList.remove("sky-hovered");
          submitButton.removeAttribute("type");
        }
        else
        {
          submitButton.classList.add("active");
          submitButton.classList.add("sky-hovered");
          submitButton.setAttribute("type", "submit");
        }
      }
  
      emailInput.addEventListener("input", function () {
        checkActive();
      });
  
      passwordInput.addEventListener("input", function () {
        checkActive();
      });
    </script>
  </div>
{% endblock %}