{% extends 'layouts/auth.html' %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}
{% block style %}

	.content {
		height: 60.1vh !important;
	}

	.resetPasswordFrame {
		width: 17.7083333333vw;
	}

	.resetPasswordFrame h1 {
		font-family: var(--font-family-sf_pro_display-medium);
		font-size: 2.08333333333vw;
		font-weight: 500;
		line-height: 2.5vw;
		text-align: left;
		height: 9.6vh;
	}

	.resetPasswordFrame p {
		font-family: var(--font-family-sf_pro_display-regular);
		font-size: 0.9375vw;
		font-weight: 400;
		line-height: 1.3125vw;
		text-align: left;
		color: #141516;
		margin-top: 1.2vh;
		width: 13.0208333333vw;
	}

	.resetPasswordFrame .passwordForm {
		margin-top: 1vh;
		width: 100%;
	}

	.resetPasswordFrame .passwordForm input {
		height: 7vh;
		width: 4.03645833333vw;
	}

	.resetPasswordFrame .passwordForm .codeInputs {
		display: flex;
		justify-content: space-between;
		gap: 0.52083333333vw;
		width: 100%;
	}
	
	.resetPasswordFrame .passwordForm .codeInputs .number {
		flex: 1;
		height: 7vh;
		text-align: center;
		border: none;
		border-radius: 2vh;
		background-color: #F1F3F5;
	
		font-family: var(--font-family-sf_pro_display-regular);
		font-size: 1.2vw;
		font-weight: 400;
		line-height: 1.5vw;
		letter-spacing: -0.01em;
		color: #141516;
		width: 100%;
	}

	.resetPasswordFrame .passwordForm .codeInputs .have-value {
		outline: none;
		border: 2px solid #1599F5;
	}

	.resetPasswordFrame .passwordForm .codeInputs .error-input {
		border: 2px solid #EC1E1E
	}	

	.resetPasswordFrame .error {
		color: #EC1E1E;
		height: 1.6vh;
		width: 100%;
		margin-top: 1.2vh;
	}

	.resetPasswordFrame #submitButton {
		width: 17.7083333333vw;
		height: 7vh;
		width: 100%;
		border: none;
		border-radius: 2vh;
		padding: 2.6vh;
		gap: 1vh;
		background-color: #F1F3F5;

		font-family: var(--font-family-sf_pro_display-regular);
		font-size: 0.9375vw;
		font-weight: 400;
		line-height: 0.9375vw;
		letter-spacing: -0.01em;
		text-align: center;
		color: #989FA6;
		margin-top: 2vh;
	}

	.resetPasswordFrame .inactive {
		font-family: var(--font-family-sf_pro_display-regular) !important;
		color: #989FA6 !important;
	}


	.resetPasswordFrame #resendButton {
		font-family: var(--font-family-sf_pro_display-medium);
		font-size: 0.9375vw;
		font-weight: 500;
		line-height: 1.8vh;
		text-align: left;
		text-underline-position: from-font;
		text-decoration-skip-ink: none;
		text-decoration: none;
		color: #141516;
	}

	.resetPasswordFrame .links {
		margin-top: 5vh;
		display: flex;
		justify-content: space-between;
		width: 95%;
	}

	.resetPasswordFrame .links #registerLink {
		display: flex;
		float: right;
	}	

	.resetPasswordFrame .links #loginLink {
		margin-right: 3.28125vw;
	}

	.resetPasswordFrame .links a {
		display: inline-block;
		font-family: var(--font-family-sf_pro_display-regular);
		font-size: 0.9375vw;
		font-weight: 500;
		line-height: 0.9375vw;
		color: #989FA6;
		text-decoration: none;
		text-align: center;
	}

	input::placeholder {
		color: #989FA6;
	}

	.active {
		background-color: #1599F5 !important;
		color: var(--white) !important;
	}

	.active:hover {
		background-color: #04D1E5 !important;
	}

{% endblock %}
{% block content %}

<div class="resetPasswordFrame">
	<h1>Восстановить пароль</h1>
	<p>Введите четырехзначный код из письма</p>
	<form class="passwordForm" method="post">
		{% csrf_token %}
		<div class="codeInputs">
			<input class="number" name="number1" type="text" maxlength="1" required />
			<input class="number" name="number2" type="text" maxlength="1" required />
			<input class="number" name="number3" type="text" maxlength="1" required />
			<input class="number" name="number4" type="text" maxlength="1" required />
		</div>
		<p id="errorMessage" class="error"></p>
		<a id="resendButton" class="inactive" disabled>Отправить повторный код</a>
		<input id="submitButton" type="submit" value="Далее" disabled />
	</form>
	<div class="links">
		<a id="loginLink" href="{% url 'login' %}">Авторизация</a>
		<a id="registerLink" href="{% url 'registration' %}">Регистрация</a>
	</div>
</div>

<script>
    const inputs = document.querySelectorAll('.codeInputs input');
	const submitButton = document.getElementById('submitButton');
	const resendButton = document.getElementById('resendButton');
	const errorMessage = document.getElementById('errorMessage');
	let resendTimeout;

	function checkInputs() {
		const allFilled = Array.from(inputs).every(input => input.value.trim() !== '');
		if (allFilled) {
			submitButton.classList.add('active');
			submitButton.disabled = false;
		} else {
			submitButton.classList.remove('active');
			submitButton.disabled = true;
		}

		inputs.forEach(input => {
			input.classList.remove('error-input');
			if (input.value === "") {
				input.classList.remove('have-value');
			}
		});
	}

	function startResendTimer() {
		let remainingTime = 60;
	
		resendButton.textContent = `Отправить код повторно через ${remainingTime}с`;
		resendButton.classList.remove('active');
		resendButton.disabled = true;
	
		const interval = setInterval(() => {
			remainingTime -= 1;
			resendButton.textContent = `Отправить код повторно через ${remainingTime}с`;
	
			if (remainingTime <= 0) {
				clearInterval(interval);
				resendButton.textContent = 'Отправить код повторно';
				resendButton.classList.remove('inactive');
				resendButton.disabled = false;
			}
		}, 1000);
	}	

	resendButton.addEventListener('click', async () => {

		if (resendButton.classList.contains("inactive")) {
			return;
		}

		resendButton.classList.add("inactive");

		try {
			const response = await fetch('{% url "password_reset_request" %}', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
					'X-CSRFToken': '{{ csrf_token }}',
				},
				body: JSON.stringify({ email: '{{ email }}' }),
			});

			if (!response.ok) {
				throw new Error('Не удалось отправить код');
			}

			errorMessage.textContent = '';

			clearTimeout(resendTimeout);
			startResendTimer();
		} catch (error) {
			errorMessage.textContent = error.message;
			inputs.forEach(input => input.classList.add('error-input'));
		}
	});

	inputs.forEach(input => {
		input.addEventListener('click', function () {
			input.value = "";
			inputs.forEach(input => {
				input.classList.remove('error-input');
				if (input.value === "") {
					input.classList.remove('have-value');
				}
			});
			input.classList.remove('have-value');
		});

		input.addEventListener('input', function () {
			if (!/^\d$/.test(this.value)) {
				this.classList.remove('have-value');
				this.value = '';
			} else {
				this.classList.add('have-value');
				const next = this.nextElementSibling;
				if (next) {
					next.focus();
					next.value = "";
				};
			}
			checkInputs();
		});

		inputs.forEach(input => {
			input.addEventListener('keydown', function (e) {
				if (e.key === 'Backspace') {
					e.preventDefault();
					this.value = '';
					const prev = this.previousElementSibling;
					if (prev) {
						prev.focus();
					}
					checkInputs();
				}
			});
		});
	});

	document.querySelector('.passwordForm').addEventListener('submit', async (event) => {
		event.preventDefault();
	
		const inputs = document.querySelectorAll('.codeInputs input');
		const errorMessage = document.getElementById('errorMessage');
	
		const code = Array.from(inputs).map(input => input.value).join('');
	
		try {
			const response = await fetch('/auth/password/reset/confirm/' + code + '/', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
					'X-CSRFToken': '{{ csrf_token }}',
				}
			});

	
			if (!response.ok) {
				throw new Error('Ошибка при отправке кода');
			}
	
			alert('Код успешно подтверждён! Новый пароль выслан на почту');
			window.location.replace("/auth/login");
		} catch (error) {
			if (error.status = "404") {
				errorMessage.textContent = "Неверный код";
			} else {
				errorMessage.textContent = "Неизвестная ошибка";
			}
			inputs.forEach(input => input.classList.add('error-input'));
		}
	});
	
	startResendTimer();
</script>

{% endblock %}
