{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Аккаунт{% endblock %}
{% block content %}
	<div class="account">
		<h1>Профиль</h1>
		<div class="menu">
			<a href="{% url 'account' %}">
				<div class="data {% block data_selected %}{% endblock %}">
					Мои данные
				</div>
			</a>
			<a href="{% url 'account_price' %}">
				<div class="price {% block price_selected %}{% endblock %}">
					Тариф
				</div>
			</a>
			<a href="{% url 'account_password' %}">
				<div class="password {% block password_selected %}{% endblock %}">
					Пароль
				</div>
			</a>
		</div>
		{% block account_content %}

		{% endblock %}
	</div>
{% endblock %}
