{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="og:type" content="website">
        <meta name="twitter:card" content="photo">
        <title>{% block title %}{% endblock %}</title>
        <style>{% block style %}{% endblock %}</style>
        <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/qr-code-styling.js' %}"></script>
    </head>
    <body>
        {% block frames %}
        {% endblock %}
        {% include 'layouts/parts/change_background.html' %}
        <img class="logo" src="{% static 'images/png/logo.png' %}" alt="Operator">
        <header>
            <div class="account">
                <a href="{% url 'account' %}">
                    {% if user.is_authenticated %}
                        <span class="bold">{{ user.first_name }} {{ user.last_name|first }}.</span>
                    {% else %}
                        <span class="bold">Войти</span>
                    {% endif %}
                    <img src="{% static 'images/svg/normal/account.svg' %}" alt="Аккаунт">
                </a>
            </div>
            <div class="menu">
                <a href="{% url 'index' %}">
                    <div class="index have-icon {% block index_selected %}{% endblock %}">
                        <div class="menu-font text-label {% block index_bold %}{% endblock %}">Линкер</div>
                        {% block index_icon %}<img src="{% static 'images/svg/normal/index.svg' %}" alt="Линкер">{% endblock %}
                    </div>
                </a>
                <a href="{% url 'qr_generator' %}">
                    <div class="qr have-icon {% block qr_selected %}{% endblock %}">
                        <div class="menu-font text-label {% block qr_bold %}{% endblock %}">QR-генератор</div>
                        {% block qr_icon %}<img src="{% static 'images/svg/normal/qr.svg' %}" alt="QR-генератор">{% endblock %}
                    </div>
                </a>
                <a href="{% url 'favorite_urls' %}">
                    <div class="history have-icon {% block history_selected %}{% endblock %}">
                        <div class="text-label menu-font {% block history_bold %}{% endblock %}">Мои ссылки и QR-коды</div>
                        {% block history_icon %}<img src="{% static 'images/svg/normal/history.svg' %}" alt="Мои ссылки и QR-коды">{% endblock %}
                    </div>
                </a>
                <a href="{% url 'price' %}">
                    <div class="price have-icon {% block price_selected %}{% endblock %}">
                        <div class="text-label menu-font {% block price_bold %}{% endblock %}">Тарифы</div>
                        {% block price_icon %}<img src="{% static 'images/svg/normal/price.svg' %}" alt="Тарифы"/>{% endblock %}
                    </div>
                </a>
            </div>
        </header>
        <script src="{% static 'js/base.js' %}"></script>
        <div class="content {% block content_class %}{% endblock %}">
            {% block content %}
    
            {% endblock %}
        </div>
        <footer>
            <a href="{% url 'privacy' %}">
                <div class="privacy text-label">Правила сервиса</div>
            </a>
            <a href="https://example.com/?ysclid=m2om2ezwy1636399194">
                <div class="company">PR-агентство Operator</div>
            </a>
            <button class="settings" onclick="changeVisible()">
                <img src="{% static 'images/svg/normal/settings.svg' %}" alt="Настройки"/>
            </button>
        </footer>
    </body>
</html>