{% extends 'layouts/account.html' %}
{% load static %}
{% block account_style %}

	.account-frame {
		height: 56.3vh !important;
	}

	.account-frame .title {
		font-family: var(--font-family-sf_pro_display-regular);
		font-size: 0.9375vw;
		font-weight: 500;
		line-height: 0.9375vw;
		letter-spacing: -0.01em;
		text-align: left;
		color: #989FA6;
		{% if not answer %}
		margin-top: 4vh;
		{% else %}
		margin-top: 1.2vh;
		{% endif %}
		margin-bottom: 0;
	}

	.error {
		margin-top: 4vh;
		margin-bottom: 0;
	}

	.success {
		margin-top: 4vh;
		margin-bottom: 0;
	}

	.account-frame .data {
		{% if not error %}
		margin-top: 1.6vh;
		{% endif %}
		display: inline-block;
	}

	.account-frame .data input {
		background-color: #F1F3F5;
		border: none;
		border-radius: 2vh;
		width: 17.9166666667vw;
		height: 7vh;
		padding: 2.6vh;
	}

	.account-frame .data .currentPasswordRow {
		width: 36.4583333332vw;
	}

	.account-frame .data .currentPasswordRow #currentPasswordInput {
		height: 7vh;
		width: 36.4583333332vw;
	}

	.account-frame .data .newPasswordRow {
		margin-top: 1.2vh;
		height: 7vh;
		width: 36.4583333332vw;	
	}

	.account-frame .data .newPasswordRow #password1Input {
		height: 7vh;
		width: 17.9166666666vw;
		margin-right: 0.375vw;
	}

	.account-frame .data .newPasswordRow #password2Input {
		height: 7vh;
		width: 17.9166666666vw;
	}	

	.account-frame .data .submitRow {
		margin-top: 2vh;
		width: 36.4583333332vw;
	}

	.account-frame .data .submitRow #submitButton {
		height: 7vh;
		width: 36.4583333332vw;
	}
{% endblock %}
{% block password_selected %}selected-item{% endblock %}
{% block account_content %}
	{% if answer %}
	<p {% if is_success %} class="success" {% else %} class="error" {% endif %}>{{ answer }}</p>
	{% endif %}
	<p class="title">Смена пароля</p>
	<form class="data" method="POST" action="{% url 'account_update_password' %}">
		{% csrf_token %}
		<div class="currentPasswordRow">
			<input id="currentPasswordInput" name="current_password" type="password" placeholder="Введите текущий пароль"/>
		</div>
		<div class="newPasswordRow">
			<input id="password1Input" name="password1" type="password" placeholder="Новый пароль"/>
			<input id="password2Input" name="password2" type="password" placeholder="Новый пароль еще раз"/>
		</div>		
		<div class="submitRow">
			<input id="submitButton" type="submit" class="active submit text_label" value="Обновить"/>
		</div>
	</form>
	<script>

	</script>
{% endblock %}
