{% extends 'layouts/account.html' %}
{% load static %}
{% block account_style %}

	.account-frame .data {
		{% if not error %}
		margin-top: 4vh;
		{% endif %}
		display: inline-block;
	}

	.account-frame .data input {
		background-color: #F1F3F5;
		border: none;
		border-radius: 2vh;
		width: 17.9166666667vw;
		height: 7vh;
		padding: 2.6vh;
	}

	.account-frame .data .newPasswordRow {
		margin-top: 1.2vh;
		width: 36.4583333332vw;
	}

	.account-frame .data .newPasswordRow #newPasswordInput {
		height: 7vh;
		width: 36.4583333332vw;
	}

	.account-frame .data .currentPasswordRow {
		height: 7vh;
		width: 36.4583333332vw;	
	}

	.account-frame .data .currentPasswordRow #password1Input {
		height: 7vh;
		width: 17.9166666666vw;
		margin-right: 0.375vw;
	}

	.account-frame .data .currentPasswordRow #password2Input {
		height: 7vh;
		width: 17.9166666666vw;
	}	

	.account-frame .data .submitRow {
		margin-top: 2vh;
		width: 36.4583333332vw;
	}

	.account-frame .data .submitRow #submitButton {
		height: 7vh;
		width: 36.4583333332vw;
	}
{% endblock %}
{% block password_selected %}selected-item{% endblock %}
{% block account_content %}
	{% if error %}
	<p class="error">{{ error }}</p>
	{% endif %}
	<form class="data" method="POST" action="{% url 'account_update_data' %}">
		{% csrf_token %}
		<div class="newPasswordRow">
			<input id="newPasswordInput" name="new_password" type="password" placeholder="Введите текущий пароль"/>
		</div>
		<div class="currentPasswordRow">
			<input id="password1Input" name="password1" type="password" placeholder="Новый пароль"/>
			<input id="password2Input" name="password2" type="password" placeholder="Новый пароль еще раз"/>
		</div>		
		<div class="submitRow">
			<input id="submitButton" type="submit" class="active submit text_label" value="Обновить"/>
		</div>
	</form>
	<script>

	</script>
{% endblock %}
