{% extends 'layouts/auth.html' %}
{% load static %}
{% block title %}Авторизация{% endblock %}
{% block style %}

  .login-h {
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 2.08333333333vw;
    font-weight: 500;
    line-height: 2.5vw;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .login-form input {
    width: 17.7083333333vw;
    height: 7vh;
    border: none;
    border-radius: 2vh;
    padding: 2.6vh;
    gap: 1vh;
    background-color: #F1F3F5 !important;

    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.9375vw;
    font-weight: 500;
    line-height: 0.9375vw;
    letter-spacing: -0.01em;
    text-align: left;
    color: #141516;
  }

  input::placeholder {
    color: #989FA6;
  }

  #emailInput {
    {% if not error %}
      margin-top: 3vh;
    {% endif %}
  }

  #passwordInput {
    margin-top: 1.2vh;
  }

  #submitInput {
    margin-top: 2vh;
    text-align: center;
    color: #989FA6;
  }

  .links {
    margin-top: 2vh;
    display: inline-block;
  }

  .links a {
    display: inline-block;
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.9375vw;
    font-weight: 500;
    line-height: 0.9375vw;
    color: #989FA6;
    text-decoration: none;
  }

  .links #resetPasswordLink {
    margin-right: 3.28125vw;
  }

  .links #registrationLink {
    width: 60px;
  }

  .error {
    color: red;
    opacity: 0.75;
  }

{% endblock %}
{% block content %}

  <h1 class="login-h">Логин</h1>

  {% if error %}
    <p class="error">{{ error }}</p>
  {% endif %}

  <form class="login-form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <input id="emailInput" name="email" type="email" placeholder="Email" />
    <input id="passwordInput" name="password" type="password" placeholder="Пароль" />
    <input id="submitInput" type="submit" value="Войти" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <div class="links">
    <a id="resetPasswordLink" href="" onclick="alert('В разработке')">Восстановить пароль</a>
    <a id="registrationLink" href="{% url 'registration' %}">Регистрация</a>
  </div>

{% endblock %}