@font-face {
	font-family: "SF Pro Display-Medium";
    font-style: normal;
    font-weight: 500;
    src: url('/static/fonts/sf-pro-display-medium.otf') format("opentype");
}

@font-face {
	font-family: "SF Pro Display-Regular";
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/sf-pro-display-regular.ttf') format("truetype");
}

* {
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --bunker: #141516;
    --manatee: #979ea5;
    --white: #ffffff;
    --wild-sand: #f1f3f5;
    --font-size-l: 4vh;
    --font-size-m: 2vh;
    --font-size-s: 1.8vh;
    --font-size-xs: 1.6vh;
    --font-family-sf_pro_display-medium: "SF Pro Display-Medium", Helvetica;
    --font-family-sf_pro_display-regular: "SF Pro Display-Regular", Helvetica;
}

body {
    margin: 0;
    background-image: url('/static/images/svg/backgrounds/default.svg');
    background-size: cover;
}

.yellow {
    background-image: url('/static/images/svg/backgrounds/yellow.svg');
}

.red {
    background-image: url('/static/images/svg/backgrounds/red.svg');
}

.blue {
    background-image: url('/static/images/svg/backgrounds/blue.svg');
}

.menu-font {
    color: var(--manatee);
    font-family: var(--font-family-sf_pro_display-medium);
    font-size: 1.03166666667vw;
    font-style: normal;
    font-weight: 500;
}

.bold {
    background-color: transparent;
    color: var(--bunker);
    font-family: var(--font-family-sf_pro_display-medium);
    font-size: 1.04166666667vw;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.20px;
    line-height: 2vh;
    position: relative;
    text-align: right;
    white-space: nowrap;
    width: fit-content;
    text-decoration: none;
}

::placeholder {
    color: #989FA6;
}

.logo {
    background-color: transparent;
    left: 1.041666666vh;
    position: absolute;
    top: 1.5vh;
    height: auto;
    width: auto;
    max-height: 6vh;
    z-index: 999;
}

.content {
    background-color: white;
    top: 12.7vh;
    left: 28.645833333vw;
    width: 42.708333333vw !important;
    border-radius: 5vh;
    position: absolute;
    padding: 6vh;
}

.menu {
    align-items: center;
    background-color: var(--white);
    border-radius: 5vh;
    display: inline-flex;
    padding: 0.4vh;
    position: absolute;
    width: 36.9270833333vw;
    top: 1.5vh;
    left: 31.5364583333vw;
}

.selected {
    background-color: var(--wild-sand) !important;
}

.have-icon {
    align-items: center;
    position: relative;
}

.menu .index {
    align-items: center;
    background-color: transparent;
    border-radius: 5vh;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 0.8vh;
    padding: 1vh 0.833333333vw;
    position: relative;
    margin-right: 0;
}

.menu .index img {
    background-color: transparent;
    height: 1.6vh;
    position: relative;
    width: auto;
}

.menu .qr {
    background-color: transparent;
    border-radius: 5vh;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 0.8vh;
    padding: 1vh 0.833333333vw;
    margin-right: 0;
}

.menu .qr img {
    background-color: transparent;
    height: 1.6vh;
    position: relative;
    width: auto;
}

.menu .history {
    background-color: transparent;
    border-radius: 5vh;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    padding: 1vh 0.833333333vw;
    margin-right: 0;
}

.menu .history img {
    background-color: transparent;
    height: 1.6vh;
    position: relative;
    width: auto;
}

.menu .price {
    border-radius: 5vh;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 0.8vh;
    padding: 1vh 0.833333333vw;
    margin-right: 0;
}

.menu .price img {
    background-color: transparent;
    height: 1.6vh;
    position: relative;
    width: auto;
}

.text-label {
    background-color: transparent;
    white-space: nowrap;
}

footer {
    background-color: transparent;
    height: 20vh;
    left: 0px;
    overflow: hidden;
    position: absolute;
    top: 80vh;
    width: 100vw;
    z-index: -999;
}

.privacy {
    color: var(--bunker);
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.83333333333vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6vh;
    opacity: 0.3;
    text-align: left;
    position: absolute;
    left: 1.041666666vw;
    bottom: 2vh;
}

.company {
    background-color: transparent;
    color: var(--bunker);
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.83333333333vw;
    font-style: normal;
    font-weight: 400;
    line-height: 0.83333333333vw;
    opacity: 0.3;
    text-align: right;
    white-space: nowrap;
    position: absolute;
    left: 45.885416666vw;
    bottom: 2vh;
}

.settings {
    -webkit-backdrop-filter: blur(20px) brightness(100%);
    backdrop-filter: blur(20px) brightness(100%);
    background-color: white;
    border: none;
    border-radius: 50vh;
    height: 4.4vh;
    left: 97.291666666vw;
    position: absolute;
    top: 14.8vh;
    width: 4.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings img {
    height: auto;
    width: 1.04166666667vw;
    display: block;
    margin: auto;
}

header {
    background-color: transparent;
    height: 9vh;
    left: 0px;
    overflow: hidden;
    position: absolute;
    top: -0px;
    width: 100vw;
}

.account {
    align-items: center;
    text-align: center;
    background-color: var(--white);
    border-radius: 5vh;
    display: inline-flex;
    gap: 1vh;
    right: 1.04166666667vw;
    height: 5.2vh;
    padding: 0.4vh 0.208333333vw 0.4vh 1.041666666vw;
    position: absolute;
    top: 1.5vh;
}

.account a {
    text-decoration: none;
}

.account img {
    display: inline-block;
    background-color: transparent;
    height: 4.4vh;
    width: 2.291666666vw;
}

.account span {
    display: inline-block;
    height: 2vh;
    vertical-align: middle;
}

.active {
    background-color: #1599F5 !important;
    color: var(--white) !important;
}

.error {
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.83333333333vw;
    font-weight: 500;
    line-height: 0.83333333333vw;
    text-align: left;
    color: #EC1E1E;
}

.success {
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.83333333333vw;
    font-weight: 500;
    line-height: 0.83333333333vw;
    text-align: left;
    color: #09EC3B;
}

.add-favorite-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #141516;
    opacity: 0.4;
    z-index: 1000;
}

.add-favorite-frame {
    width: 23.9583333333vw;
    height: 31.4vh;
    position: absolute;
    top: 34.3vh;
    left: 38.0208333333vw;
    gap: 0.4vh;
    border-radius: 2vh;
    opacity: 0px;
    z-index: 1001;
    background-color: white;
    padding: 4vh;
}


.add-favorite-frame h1 {
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 1.5625vw;
    font-weight: 500;
    line-height: 1.875vw;
    letter-spacing: -0.02em;
    text-align: left;
    color: #141516;
}

.add-favorite-frame input {
    margin-top: 4vh !important;
    width: 100%;
    height: 7vh;
    border: #F1F3F5;
    border-radius: 2vh;
    padding: 2.6vh;
    padding-right: 2.447916666vw;
    margin-top: 0;
    font-family: var(--font-family-sf_pro_display-medium);
    background-color: var(--wild-sand);
    font-size: 0.9375vw;
    color: #141516;
    line-height: 0.9375vw;
    outline: none;
}

.add-favorite-frame button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh !important;
    width: 100%;
    height: 6.8vh;
    border: #F1F3F5;
    border-radius: 2vh;
    padding: 2.6vh;
    padding-right: 2.447916666vw;
    margin-top: 0;
    font-family: var(--font-family-sf_pro_display-medium);
    background-color: var(--wild-sand);
    font-size: 0.9375vw;
    font-weight: 500;
    line-height: 0.9375vw;
    letter-spacing: -0.01em;
    color: #989FA6;
    outline: none;
}

.add-favorite-frame button span {
    margin-right: 0.52083333333vw;
    vertical-align: middle;
}

.add-favorite-frame button img {
    height: 1.04166666667vw;
    vertical-align: middle;
}

.download-qr-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #141516;
    opacity: 0.4;
    z-index: 1000;
}

.download-qr-frame {
    width: 23.9583333333vw;
    height: 22.2vh;
    position: absolute;
    top: 34.3vh;
    left: 38.0208333333vw;
    gap: 0.4vh;
    border-radius: 2vh;
    opacity: 0px;
    z-index: 1001;
    background-color: white;
    padding: 4vh;
}

.download-qr-frame #closeDownloadQrFrameButton {
    position: absolute;
    right: 1.04166666667vw;
    top: 2vh;
    height: 3.2vh;
    width: auto;
}

.download-qr-frame h1 {
    font-family: var(--font-family-sf_pro_display-medium);
    font-size: 1.5625vw;
    font-weight: 500;
    line-height: 1.875vw;
    letter-spacing: -0.02em;
    text-align: left;
    color: #141516;
}

.download-qr-frame button {
    margin-top: 4vh !important;
    width: 9.58333333333vw;
    height: 6.6vh;
    border: #F1F3F5;
    border-radius: 2vh;
    padding: 2.4vh;
    gap: 1vh;
    padding-left: 3.72395833333vw;
    padding-right: 3.72395833333vw;
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.9375vw;
    font-weight: 500;
    line-height: 0.9375vw;
    letter-spacing: -0.01em;
    letter-spacing: -0.01em;
    color: #141516;
}

.download-qr-frame button:hover {
    color: #989FA6;
}

.cross {
    position: absolute;
    top: 2.61vh;
    right: 2.61vh;
    height: 0.87395833333vw;
    width: 0.87395833333vw;
    filter: invert(77%) sepia(2%) saturate(1396%) hue-rotate(169deg) brightness(82%) contrast(91%);
}

.cross:hover {
    filter: invert(5%) sepia(6%) saturate(712%) hue-rotate(169deg) brightness(101%) contrast(92%);
}

#showQrFrame .background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #141516;
    opacity: 0.4;
    z-index: 1000;
}

#showQrFrame #qrFrame {
    position: fixed;
    left: 38.0208333333vw;
    top: 31.8vh;
    width: 23.9583333333vw;
    height: 44.2vh;
    background: #FFFFFF;
    opacity: 1;
    box-shadow: 0px 4px 14px 0px #14151626;
    z-index: 1001;
    border-radius: 2vh;
    padding: 4vh;
}

#showQrFrame h1 {
    font-family: var(--font-family-sf_pro_display-middle);
    font-size: 1.5625vw;
    font-weight: 500;
    line-height: 1.875vw;
    letter-spacing: -0.02em;
    text-align: left;
}

#showQrFrame #qrImageFrame {
    width: 100%;
    height: 90%;
    z-index: 1001;
}

#showQrFrame .segno {
    width: 100%;
    height: 100%;
    z-index: 1001;
}

#changeBackgroundFrame {
    position: absolute;
    width: 16.25vw;
    height: 15.8vh;
    background-color: white;
    padding: 3.2vh;
    border-radius: 2vh;
    right: 1.04166666667vw;
    bottom: 7.2vh;
    box-shadow: 0px 4px 14px 0px #14151626;
}

#changeBackgroundFrame h1 {
    font-family: var(--font-family-sf_pro_display-middle);
    font-size: 0.9375vw;
    font-weight: 500;
    line-height: 0.9375vw;
    text-align: left;
    color: #141516;
}

#changeBackgroundFrame button {
    height: 2.91666666667vw;
    width: 2.91666666667vw;
    border: 2px solid #F1F3F5;
    border-radius: 5vh;
    background: none;
    padding: 0.15625vw;
}

#changeBackgroundFrame button div {
    height: 2.29166666667vw;
    width: 2.29166666667vw;
    border-radius: 5vh;
}

#changeBackgroundFrame .active-color {
    border: 2px solid #1599F5;
}

#defaultColorButton div {
    background-color: #F1F3F5;
}

#yellowColorButton div {
    background-color: #F8F5EC;
}

#redColorButton div {
    background-color: #F8ECF3;
}

#blueColorButton div {
    background-color: #E9F0FA;
}

.gray-hovered:hover img {
    filter: invert(66%) sepia(10%) saturate(223%) hue-rotate(169deg) brightness(93%) contrast(92%);
}

.active:hover {
    background-color: #04D1E5 !important;
}
/* Для history.html */

.history-frame {
    height: 55.5vh;
}

.history-frame a {
    text-decoration: none;
}

.history-frame .title-bar {
    color: #989FA6;
    font-family: var(--font-family-sf_pro_display-medium);
    font-size: 2.08333333333vw;
    font-weight: 500;
    line-height: 2.5vw;
    letter-spacing: -0.02em;
    display: inline;
}

.history-frame .title-bar h1 {
    display: inline;
    color: #989FA6;
    font-family: var(--font-family-sf_pro_display-medium);
    font-size: 2.08333333333vw;
    font-weight: 500;
    line-height: 2.5vw;
    letter-spacing: -0.02em;
    display: inline;
}

.history-frame .title-bar span {
    margin-left: 0.83333333333vw;
    margin-right: 0.83333333333vw;
}

.history-frame .bold {
    color: #141516 !important;
}

.history-frame hr {
    margin: 0;
}

.history-frame .history-menu {
    height: 5.1vh;
    width: 36.4583333333vw;
    background: #F1F3F5;
    border-radius: 1vh;
    text-align: center;
    margin-top: 3.2vh;
}

.history-frame .history-menu div {
    height: 5.1vh;
    width: 18.0729166667vw;
    padding: 1.4vh;
    gap: 0.8vh;
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.83333333333vw;
    font-weight: 500;
    line-height: 1vw;
    letter-spacing: -0.01em;
    color: #989FA6;
    border-radius: 1vh;
}

.history-frame .history-menu .selected {
    background: #FFFFFF !important;
    box-shadow: 0px 4px 15px 0px #2424241A;
    color: #141516 !important;
}

.history-frame .history-menu .favorite-menu-item {
    display: inline-block;
    width: 49.5%;
}

.history-frame .history-menu .history-menu-item {
    display: inline-block;
    width: 49.5%;
}
/* Для index.html */

.content .index-frame .with-url {
    height: 42.8vh !important;
}

.content .index-frame form {
    display: inline-block;
    margin-top: 3vh;
    width: 37.458333333vw;
}

.content .index-frame input.url {
    border: #F1F3F5;
    border-radius: 2vh;
    width: 28.645833333vw;
    height: 7vh;
    padding: 2.6vh;
    padding-right: 2.447916666vw;
    margin-top: 0;
    font-family: var(--font-family-sf_pro_display-regular);
    background-color: var(--wild-sand);
    font-size: 0.9375vw;
    color: #141516;
    line-height: 0.9375vw;
    outline:none;
}

.content .index-frame input.submit {
    color: var(--manatee);
    margin-left: 0.625vw;
    height: 7vh;
    width: 7.1875vw;
    border: #F1F3F5;
    border-radius: 2vh;
    margin-top: 0;
    font-family: var(--font-family-sf_pro_display-medium);
    background-color: var(--wild-sand);
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 500;
    line-height: 0.9375vw;
}

.content .index-frame h1 {
    background-color: transparent;
    color: var(--bunker);
    font-family: var(--font-family-sf_pro_display-medium);
    font-size: 2.083333333vw;
    font-style: normal;
    font-weight: 500;
    height: 4.8vh;
    width: 21.354166666vw;
    letter-spacing: -0.80px;
    line-height: 2.083333333vw;
    text-align: left;
    white-space: nowrap;
    margin-bottom: 0;
}

.content .index-frame .cross-small {
    position: absolute;
    left: 30.1932291667vw;
    top: 16.671vh;
    width: 0.65572916666vw;
    filter: invert(77%) sepia(2%) saturate(1396%) hue-rotate(169deg) brightness(82%) contrast(91%);
}

.content .index-frame .cross-small:hover {
    filter: invert(5%) sepia(6%) saturate(712%) hue-rotate(169deg) brightness(101%) contrast(92%);
}

.content .index-frame hr {
    margin-top: 5.1vh;
}

.content .index-frame .result-frame {
    display: flex;
    align-items: center;
    margin-top: 4vh;
}

.content .index-frame .result-frame .short-url-div {
    display: inline-block;
}

.content .index-frame .result-frame .short-url-frame {
    display: inline-block;
    width: auto;
    margin-top: 0;
}

.content .index-frame .result-frame .short-url-frame a {
    font-family: var(--font-family-sf_pro_display-medium);
    font-size: 1.5625vw;
    line-height: 1.5625vw;
    font-weight: 500;
    text-decoration: none;
    color: #1599F5;
}

.content .index-frame .result-frame .short-url-frame a:hover {
    color: #04D1E5 !important;
}

.content .index-frame .result-frame .short-url-frame span {
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.833333333vw;
    line-height: 0.833333333vw;
    font-weight: 400;
    color: #989FA6;
    margin-top: 0.6vh;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.content .index-frame .result-frame .buttons {
    display: flex;
    margin-left: auto;
    gap: 1vw;
    width: auto;
}

.content .index-frame .result-frame .buttons button {
    height: 8vh;
    width: 8vh;
    background-color: #F1F3F5;
    border-radius: 50vh;
    border: none;
    padding: 2vh;
    margin: 0;
}

.content .index-frame .result-frame .buttons button img {
    height: 2.4vh;
    width: 2.4vh;
}

.content .index-frame .share-frame {
    width: 16.875vw;
    height: 13.6vh;
    top: 39.6vh;
    left: 30.625vw;
    border-radius: 2vh;
    padding: 1.6vh;
    gap: 0.4vh;
    background-color: white;
    position: absolute;
    z-index: 10;
    box-shadow: 0px 4px 14px 0px #14151626;
}

.content .index-frame .share-frame a {
    text-decoration: none;
}

.content .index-frame .result-frame .buttons button {
    height: 8vh;
    width: 8vh;
    background-color: #F1F3F5;
    border-radius: 50vh;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .index-frame .share-frame button {
    width: 15.208333333vw;
    height: 5vh;
    border-radius: 1vh;
    padding: 1.6vh;
    gap: 0.8vh;
    border: none;
    background-color: #FFFFFF;
    font-family: var(--font-family-sf_pro_display-regular);
    color: #141516;
    font-size: 0.9375vw;
    font-weight: 500;
    line-height: 0.9375vw;
    display: flex;
    align-items: center;
}

.content .index-frame .share-frame button span {
    display: inline-block;
}

.content .index-frame .share-frame button img {
    width: 0.83333333333vw;
}

.content .index-frame .share-frame button:hover {
    background-color: #F1F3F5;
}
/* Для price.html */
.price-frame {
    /* height: 26.8vh;  */
}

.price-frame .layout-placeholder {
    margin-top: 4vh;
}
/* Для qr_generator.html */

.content .qr-frame .with-qr {
    height: 62.8vh !important;
}

.content .qr-frame .url {
    display: inline-block;
    margin-top: 3vh;
    width: 37.458333333vw;
}

.content .qr-frame input.url {
    border: #F1F3F5;
    border-radius: 2vh;
    width: 28.645833333vw;
    height: 7vh;
    padding: 2.6vh;
    padding-right: 2.447916666vw;
    margin-top: 0;
    font-family: var(--font-family-sf_pro_display-regular);
    background-color: var(--wild-sand);
    font-size: 0.9375vw;
    color: #141516;
    line-height: 0.9375vw;
    outline: none;
}

.content .qr-frame input.submit {
    color: var(--manatee);
    margin-left: 0.625vw;
    height: 7vh;
    width: 7.1875vw;
    border: #F1F3F5;
    border-radius: 2vh;
    margin-top: 0;
    font-family: var(--font-family-sf_pro_display-medium);
    background-color: var(--wild-sand);
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 500;
    line-height: 0.9375vw;
}

.content .qr-frame h1 {
    background-color: transparent;
    color: var(--bunker);
    font-family: var(--font-family-sf_pro_display-medium);
    font-size: 2.083333333vw;
    font-style: normal;
    font-weight: 500;
    height: 4.8vh;
    width: 21.354166666vw;
    letter-spacing: -0.80px;
    line-height: 2.083333333vw;
    text-align: left;
    white-space: nowrap;
    margin-bottom: 0;
}

.content .qr-frame .cross-small {
    position: absolute;
    left: 30.1932291667vw;
    top: 16.671vh;
    width: 0.65572916666vw;
    filter: invert(77%) sepia(2%) saturate(1396%) hue-rotate(169deg) brightness(82%) contrast(91%);
}

.content .qr-frame .cross-small:hover {
    filter: invert(5%) sepia(6%) saturate(712%) hue-rotate(169deg) brightness(101%) contrast(92%);
}

.content .qr-frame hr {
    margin-top: 5.1vh;
}

.content .qr-frame .result-frame {
    display: flex;
    align-items: center;
    margin-top: 4vh;
}

.content .qr-frame .result-frame .short-url-div {
    display: inline-block;
}

.content .qr-frame .result-frame .short-url-frame {
    display: inline-block;
    width: auto;
    margin-top: 0;
}

.content .qr-frame .result-frame .short-url-frame a {
    font-family: var(--font-family-sf_pro_display-medium);
    font-size: 1.5625vw;
    line-height: 1.5625vw;
    font-weight: 500;
    text-decoration: none;
    color: #1599F5;
}

.content .qr-frame .result-frame .short-url-frame span {
    font-family: var(--font-family-sf_pro_display-medium);
    font-size: 0.833333333vw;
    line-height: 0.833333333vw;
    font-weight: 400;
    color: #989FA6;
    margin-top: 0.6vh;
}

.content .qr-frame .result-frame .buttons {
    display: flex;
    margin-left: auto;
    gap: 1vw;
    width: auto;
}

.content .qr-frame .result-frame .buttons button {
    height: 8vh;
    width: 8vh;
    background-color: #F1F3F5;
    border-radius: 50vh;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .qr-frame .result-frame .buttons button img {
    height: 2.4vh;
    width: 2.4vh;
}

.content .qr-frame .share-frame {
    width: 16.875vw;
    height: 13.6vh;
    top: 51.6vh;
    left: 30.625vw;
    border-radius: 2vh;
    padding: 1.6vh;
    gap: 0.4vh;
    background-color: white;
    position: absolute;
    box-shadow: 0px 4px 14px 0px #14151626;
}

.content .qr-frame .share-frame a {
    text-decoration: none;
}

.content .qr-frame .share-frame button {
    width: 15.208333333vw;
    height: 5vh;
    border-radius: 1vh;
    padding: 1.6vh;
    gap: 0.8vh;
    border: none;
    background-color: #FFFFFF;
    font-family: var(--font-family-sf_pro_display-medium);
    color: #141516;
    font-size: 0.9375vw;
    font-weight: 500;
    line-height: 0.9375vw;
    display: flex;
    align-items: center;
}

.content .qr-frame .share-frame button img {
    max-width: 0.83333333333vw;
    width: auto;
    height: 0.83333333333vw;
    display: inline-block;
}

.content .qr-frame .share-frame button span {
    display: inline-block;
}

.content .qr-frame .share-frame button:hover {
    background-color: #F1F3F5;
}

.content .segno {
    height: 30.5894848646vh;
    width: 15.932023367vw;
    position: relative;
    padding: 4vh;
}

#qrEditorBlock .background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #141516;
    opacity: 0.4;
    z-index: 1000;
}

#qrEditorBlock .frame {
    position: fixed;
    left: 38.0208333333vw;
    top: 16.1vh;
    width: 23.9583333333vw;
    height: 77.4vh;
    background: #FFFFFF;
    opacity: 1;
    box-shadow: 0px 4px 14px 0px #14151626;
    z-index: 1001;
    border-radius: 2vh;
    padding: 4vh;
}

#qrEditorBlock p {
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.9375vw;
    font-weight: 400;
    line-height: 0.9375vw;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0;
    color: #141516;
}

#qrEditorBlock .frame .qr-background {
    height: 28vh;
    width: 19.7916666667vw;
    background-image: url('/static/images/png/qr_background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    margin-top: 2vh;
}

#qrEditorBlock .frame .qr-background .qr-image {
    height: 12.5vw;
    width: 12.5vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex-shrink: 0;
    display: flex;
    margin: auto;
}

#qrEditorBlock .frame .qr-background .qr-image svg {
    height: 100%;
    width: 100%;
}

#qrEditorBlock .frame .controls {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 19.7916666667vw;
    margin-top: 2.8vh;
}

#qrEditorBlock .frame .controls div {
    display: flex;
    justify-content: space-between;
}

#qrEditorBlock .frame .controls .left {
    display: flex;
    align-items: center;
}

#qrEditorBlock .frame .controls .right {
    display: flex;
    width: 7.8125vw;
    height: 5.6vh;
    gap: 0px;
    border-radius: 2vh;
    justify-content: center;
    align-items: center;
    background-color: #F1F3F5;
}

#qrEditorBlock .frame .controls .right p {
    display: flex;
    align-items: center;
    margin-right: 1.09375vw;
    height: 1.25vw;
    font-family: var(--font-family-sf_pro_display-medium);
    font-size: 0.9375vw;
    font-weight: 500;
    line-height: 0.9375vw;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#qrEditorBlock .frame .controls .color-picker #qrColor {
    width: 1.25vw;
    height: 1.25vw;
    border-radius: 50%;
    border: 1px solid #989FA6;
    padding: 0; 
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

#qrEditorBlock .frame .controls .color-picker #qrColor::-webkit-color-swatch-wrapper {
    padding: 0;
}

#qrEditorBlock .frame .controls .color-picker #qrColor::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    background-color: black;
}

#qrEditorBlock .frame .controls .background-toogle {
    margin-top: 1.2vh;
    padding: 0;
}

#qrEditorBlock .frame .controls .background-toogle .right .switch {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 100%;
}

#qrEditorBlock .frame .controls .background-toogle .right .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#qrEditorBlock .frame .controls .background-toogle .right .switch .slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: background-color 0.4s;
    margin: 0;
}

#qrEditorBlock .frame .controls .background-toogle .right .switch .slider .label {
    flex: 1;
    text-align: center;
    font-weight: bold;
    color: white;
    user-select: none;
    transition: color 0.4s;
    height: 100%;
    font-family: var(--font-family-sf_pro_display-regular) !important;
    font-size: 0.9375vw;
    font-weight: 500;
    line-height: 0.9375vw;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#qrEditorBlock .frame .controls .background-toogle .right .switch .slider .yes {
    border-radius: 20px 0 0 20px;
    color: #141516;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.2vh;
}

#qrEditorBlock .frame .controls .background-toogle .right .switch .slider .no {
    border-radius: 0 20px 20px 0;
    color: #141516;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.2vh;
    font-family: var(--font-family-sf_pro_display-regular) !important;
}

#qrEditorBlock .frame .controls .background-toogle .right .switch input:checked + .slider .yes {
    background-color: white;
    border-radius: 1.8vh;
    box-shadow: 0px 4px 15px 0px #2424241A;
}

#qrEditorBlock .frame .controls .background-toogle .right .switch input:not(:checked) + .slider .no {
    background-color: white;
    border-radius: 1.8vh;
}


#qrEditorBlock .frame .controls .background-color-picker {
    margin-top: 1.2vh;
}

#qrEditorBlock .frame .controls .background-color-picker #backgroundColor {
    width: 1.25vw;
    height: 1.25vw;
    border-radius: 50%;
    border: 1px solid #989FA6;
    padding: 0; 
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

#qrEditorBlock .frame .controls .background-color-picker #backgroundColor::-webkit-color-swatch-wrapper {
    padding: 0;
}

#qrEditorBlock .frame .controls .background-color-picker #backgroundColor::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    background-color: black;
}

#qrEditorBlock .frame .controls .image-picker img{
    width: 0.9375vw;
    height: 0.9375vw;
}

#qrEditorBlock .frame .controls .image-picker {
    margin-top: 1.2vh;
}

#qrEditorBlock .frame .submit-button-frame input {
    margin-top: 4vh;
    height: 6.6vh;
    width: 19.7916666667vw;
    background-color: #1599F5;
    border: none;
    color: white;
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.9375vw;
    font-weight: 500;
    line-height: 0.9375vw;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-radius: 2vh;
}

#qrEditorBlock h1 {
    font-family: var(--font-family-sf_pro_display-middle);
    font-size: 1.5625vw;
    font-weight: 500;
    line-height: 1.875vw;
    text-align: left;
}

#qrEditorBlock #qrImageFrame {
    width: 100%;
    height: 90%;
    z-index: 1001;
}

#qrEditorBlock .segno {
    width: 100%;
    height: 100%;
    z-index: 1001;
}

/* Для favorite страниц */

.content .history-frame .favorite-frame .search {
    margin-top: 2vh;
    width: 36.4583333333vw;
    height: 6vh;
    padding: 0;
    outline: none;
}

.content .history-frame .favorite-frame .search input {
    width: 100%;
    height: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    gap: 0px;
    border: none;
    border-bottom: 2px solid #F1F3F5;
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.83333333333vw;
    font-weight: 500;
    line-height: 1vw;
    color: #141516;
    outline: none;
}

.content .history-frame .favorite-frame .search img {
    width: 1.04166666667vw;
    height: auto;
    position: absolute;
    right: 3.125vw;
    top: 23.1vh;
    filter: invert(71%) sepia(13%) saturate(181%) hue-rotate(169deg) brightness(87%) contrast(88%);
}

.content .history-frame .favorite-frame .search img:hover {
    filter: invert(3%) sepia(4%) saturate(1876%) hue-rotate(169deg) brightness(101%) contrast(89%);
}

.content .history-frame .favorite-frame .search input::placeholder {
    color: #989FA6;
}

.content .history-frame .favorite-frame .list .list-item {
    flex-shrink: 0;
    height: 11.3vh;
    width: 100%;
    border: none;
    border-bottom: 1px solid #F1F3F5;
    padding-bottom: 2.8vh;
    margin: 0;
}

.content .history-frame .favorite-frame .list .list-item .left {
    display: inline-block;
    width: 11.6145833333vw;
    margin-top: 2.8vh;
}

.content .history-frame .favorite-frame .list .list-item .left .title {
    width: 100%;
    font-family: var(--font-family-sf_pro_display-medium);
    font-size: 1.04166666667vw;
    font-weight: 500;
    line-height: 1.04166666667vw;
    letter-spacing: -0.01em;
    text-align: left;
    color: #141516;
}

.content .history-frame .favorite-frame .list .list-item .left .title p {
    margin: 0;
}

.content .history-frame .favorite-frame .list .list-item .left .url {
    width: 100%;
    font-family: var(--font-family-sf_pro_display-medium);
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 1.5vw;
    letter-spacing: -0.02em;
    text-align: left;
    color: #989FA6;
    margin-top: 0.8vh;
}

.content .history-frame .favorite-frame .list .list-item .left .url p {
    margin: 0;
}

.content .history-frame .favorite-frame .list .list-item .right {
    display: inline-flex;
    width: 9vw;
    margin-left: auto;
    margin-top: 3.25vh;
    margin-right: 0;
    float: right;
}

.content .history-frame .favorite-frame .list .list-item .right button {
    height: 2.5vw;
    width: 2.5vw;
    display: inline-block;
    padding: 0;
    gap: 0.8vh;
    border: none;
    border-radius: 5000px;
    opacity: 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.4vh;
}

.content .history-frame .favorite-frame .list .list-item .right button img {
    height: 0.83333333333vw;
    width: 0.83333333333vw;
}
/* Для favorite_qrs.html */

#delete_frame .background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #141516;
    opacity: 0.4;
    z-index: 1000;
}

#delete_frame form {
    position: fixed;
    left: 38.0208333333vw;
    top: 41.8vh;
    width: 23.9583333333vw;
    height: 22.2vh;
    background: #FFFFFF;
    opacity: 1;
    box-shadow: 0px 4px 14px 0px #14151626;
    z-index: 1001;
    border-radius: 2vh;
    padding: 4vh;
}

#delete_frame h1 {
    font-family: var(--font-family-sf_pro_display-middle);
    font-size: 1.5625vw;
    font-weight: 500;
    line-height: 1.875vw;
    letter-spacing: -0.02em;
    text-align: left;
}

#delete_frame #delete-submit {
    margin-top: 4vh;
    height: 6.6vh;
    width: 9.58333333333vw;
    gap: 0.8vh;
    border: none;
    border-radius: 2vh;
    background-color: #EC1E1E;
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.9375vw;
    font-weight: 400;
    line-height: 0.9375vw;
    letter-spacing: -0.01em;
    color: white;
}

#delete_frame #delete-cancel {
    margin-top: 4vh;
    height: 6.6vh;
    width: 9.58333333333vw;
    gap: 0.8vh;
    border: none;
    border-radius: 2vh;
    background-color: #F1F3F5;
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.9375vw;
    font-weight: 400;
    line-height: 0.9375vw;
    letter-spacing: -0.01em;
    color: #141516;
}
/* Для favorite_urls.html */

#edit_frame .background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #141516;
    opacity: 0.4;
    z-index: 1000;
}

#edit_frame form {
    position: fixed;
    left: 38.0208333333vw;
    top: 37.2vh;
    width: 23.9583333333vw;
    height: 31.4vh;
    background: #FFFFFF;
    opacity: 1;
    box-shadow: 0px 4px 14px 0px #14151626;
    z-index: 1001;
    border-radius: 2vh;
    padding: 4vh;
}

#edit_frame h1 {
    font-family: var(--font-family-sf_pro_display-middle);
    font-size: 1.5625vw;
    font-weight: 500;
    line-height: 1.875vw;
    letter-spacing: -0.02em;
    text-align: left;
}

#edit_frame .title-input {
    margin-top: 4vh;
    height: 7vh;
    width: 19.7916666667vw;
    gap: 0.8vh;
    padding: 2.6vh;
    border: none;
    border-radius: 2vh;
    background-color: #F1F3F5;
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.9375vw;
    font-weight: 400;
    line-height: 0.9375vw;
    letter-spacing: -0.01em;
    text-align: left;
}

#edit_frame .edit-submit {
    margin-top: 2vh;
    height: 6.6vh;
    width: 19.7916666667vw;
    border: none;
    border-radius: 2vh;
    background-color: #F1F3F5;
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.9375vw;
    font-weight: 400;
    line-height: 0.9375vw;
    letter-spacing: -0.01em;
    color: #989FA6;
}

#delete_frame .background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #141516;
    opacity: 0.4;
    z-index: 1000;
}

#share_frame a {
    text-decoration: none;
}

#share_frame button {
    width: 15.208333333vw;
    height: 5vh;
    border-radius: 1vh;
    padding: 1.6vh;
    gap: 0.8vh;
    border: none;
    background-color: #FFFFFF;
    font-family: var(--font-family-sf_pro_display-medium);
    color: #141516;
    font-size: 0.9375vw;
    font-weight: 500;
    line-height: 0.9375vw;
    display: flex;
/* Добавлено для flex контейнера */
    align-items: center;
/* Выравнивание по вертикали */;
}

#share_frame button img {
    max-width: 0.83333333333vw;
    width: auto;
    height: 0.83333333333vw;
    display: inline-block;
}

#share_frame button span {
    display: inline-block;
}

#share_frame button:hover {
    background-color: #F1F3F5;
}
/* history_qrs.html */

.history-frame .title-bar h1 {
    color: #989FA6;
    font-family: var(--font-family-sf_pro_display-medium);
    font-size: 2.08333333333vw;
    font-weight: 500;
    line-height: 2.5vw;
    letter-spacing: -0.02em;
    display: inline;
}

.content .history-frame .favorite-frame .search {
    margin-top: 2vh;
    width: 36.4583333333vw;
    height: 6vh;
    padding: 0;
}

.content .history-frame .favorite-frame .list {
    margin-top: 2vh;
    display: grid;
    height: 35vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.content .history-frame .favorite-frame .list::-webkit-scrollbar {
    display: none;
}

.content .history-frame .favorite-frame .list .date-title {
    margin-left: 15.9895833333vw;
    margin-top: 4vh;
    border: 2px solid #F1F3F5;
    height: 3.3vh;
    width: 4.47916666667vw;
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    border-radius: 500px;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 0.72916666666vw;
    font-weight: 500;
    line-height: 0.875vw;
    color: #989FA6;
    letter-spacing: -0.01em;
}

.content .history-frame .list .list-item .original_url {
    margin-left: 0.83333333333vw;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 1.04166666667vw;
    font-weight: 500;
    color: #141516;
}

.content .history-frame .list .list-item .left .original_url a {
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 1.04166666667vw;
    font-weight: 500;
    line-height: 1.04166666667vw;
    text-align: left;
    margin: 0;
    text-decoration: none;
    color: #989FA6;
}

.content .history-frame .list .list-item .right {
    text-align: right;
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.83333333333vw;
    width: 4.21875vw;
    color: #989FA6;
}

.content .history-frame .list .list-item .right p {
    margin: 0;
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.83333333333vw;
    font-weight: 500;
    line-height: 1.23333333333vw;
    letter-spacing: -0.01em;
    color: #989FA6;
}
/* history_urls.html */

.history-frame .list {
    margin-top: 2vh;
    display: grid;
    height: 40vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.history-frame .list::-webkit-scrollbar {
    display: none;
}

.history-frame .list .date-title {
    margin-left: 15.9895833333vw;
    margin-top: 4vh;
    border: 2px solid #F1F3F5;
    height: 3.3vh;
    width: 4.47916666667vw;
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    border-radius: 500px;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 0.72916666666vw;
    font-weight: 500;
    line-height: 0.875vw;
    color: #989FA6;
    letter-spacing: -0.01em;
}

.history-frame .list .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11.3vh;
    width: 100%;
    border: none;
    border-bottom: 2px solid #F1F3F5;
}

.history-frame .list .list-item .left {
    display: inline-block;
    width: 11.6145833333vw;
    margin-top: 2.8vh;
}

.history-frame .list .list-item .left .original_url {
    text-align: left;
    width: 20.8333333333vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 0;
}

.history-frame .list .list-item .left .original_url a {
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 1.04166666667vw;
    font-weight: 500;
    line-height: 1.04166666667vw;
    letter-spacing: -0.01em;
    text-align: left;
    margin: 0;
    text-decoration: none;
    color: #989FA6;
}

.history-frame .list .list-item .left .short_url {
    width: 100%;
    margin-top: 0.8vh;
    margin-bottom: 2.8vh;
}

.history-frame .list .list-item .left .short_url a {
    font-family: var(--font-family-sf_pro_display-medium);
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 1.5vw;
    letter-spacing: -0.02em;
    text-align: left;
    margin: 0;
    color: #141516;
}

.history-frame .list .list-item .right {
    display: inline-block;
    width: 4.21875vw;
    margin-left: auto;
    margin-top: 4.25vh;
    margin-right: 0;
    float: right;
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.83333333333vw;
    font-weight: 500;
    line-height: 1.23333333333vw;
    letter-spacing: -0.01em;
    text-align: right;
    color: #989FA6;
}