@media (orientation: landscape) {
    #delete form {
        position: fixed;
        left: 38.0208333333vw;
        top: 41.8vh;
        width: 23.9583333333vw;
        height: 22.2vh;
        background: #FFFFFF;
        opacity: 1;
        box-shadow: 0px 4px 14px 0px #14151626;
        z-index: 1001;
        border-radius: 2vh;
        padding: 4vh;
    }

    #delete h1 {
        font-family: var(--font-family-sf_pro_display-middle);
        font-size: 1.5625vw;
        font-weight: 500;
        line-height: 1.875vw;
        letter-spacing: -0.02em;
        text-align: left;
    }

    #delete #deleteSubmit {
        margin-top: 4vh;
        height: 6.6vh;
        width: 9.58333333333vw;
        gap: 0.8vh;
        border: none;
        border-radius: 2vh;
        background-color: #EC1E1E;
        font-family: var(--font-family-sf_pro_display-regular);
        font-size: 0.9375vw;
        font-weight: 400;
        line-height: 0.9375vw;
        letter-spacing: -0.01em;
        color: white;
    }

    #delete #deleteCancel {
        margin-top: 4vh;
        height: 6.6vh;
        width: 9.58333333333vw;
        gap: 0.8vh;
        border: none;
        border-radius: 2vh;
        background-color: #F1F3F5;
        font-family: var(--font-family-sf_pro_display-regular);
        font-size: 0.9375vw;
        font-weight: 400;
        line-height: 0.9375vw;
        letter-spacing: -0.01em;
        color: #141516;
    }
}

@media (orientation: portrait) {

}