.content .edit .background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #141516;
    opacity: 0.4;
    z-index: 1000;
}

@media (orientation: landscape) {

    .content .edit form {
        position: fixed;
        left: 38.0208333333vw;
        top: 37.2vh;
        width: 23.9583333333vw;
        height: 31.4vh;
        background: #FFFFFF;
        opacity: 1;
        box-shadow: 0px 4px 14px 0px #14151626;
        z-index: 1001;
        border-radius: 2vh;
        padding: 4vh;
    }

    .content .edit h1 {
        font-family: var(--font-family-sf_pro_display-middle);
        font-size: 1.5625vw;
        font-weight: 500;
        line-height: 1.875vw;
        letter-spacing: -0.02em;
        text-align: left;
    }

    .content .edit .title-input {
        margin-top: 4vh;
        height: 7vh;
        width: 19.7916666667vw;
        gap: 0.8vh;
        padding: 2.6vh;
        border: none;
        border-radius: 2vh;
        background-color: #F1F3F5;
        font-family: var(--font-family-sf_pro_display-regular);
        font-size: 0.9375vw;
        font-weight: 400;
        line-height: 0.9375vw;
        letter-spacing: -0.01em;
        text-align: left;
    }

    .content .edit .edit-submit {
        margin-top: 2vh;
        height: 6.6vh;
        width: 19.7916666667vw;
        border: none;
        border-radius: 2vh;
        background-color: #F1F3F5;
        font-family: var(--font-family-sf_pro_display-regular);
        font-size: 0.9375vw;
        font-weight: 400;
        line-height: 0.9375vw;
        letter-spacing: -0.01em;
        color: #989FA6;
    }

    .content .share {
        width: 16.875vw;
        height: 13.6vh;
        top: 50.5vh;
        left: 59.2708333333vw;
        border-radius: 2vh;
        padding: 1.6vh;
        gap: 0.4vh;
        background-color: white;
        position: absolute;
        z-index: 10;
        box-shadow: 0px 4px 14px 0px #14151626;
    }

    .content .share a {
        text-decoration: none;
    }

    .content .share button {
        width: 15.208333333vw;
        height: 5vh;
        border-radius: 1vh;
        padding: 1.6vh;
        gap: 0.8vh;
        border: none;
        background-color: #FFFFFF;
        font-family: var(--font-family-sf_pro_display-medium);
        color: #141516;
        font-size: 0.9375vw;
        font-weight: 500;
        line-height: 0.9375vw;
        display: flex;
        align-items: center;
    }

    .content .share button img {
        max-width: 0.83333333333vw;
        width: auto;
        height: 0.83333333333vw;
        display: inline-block;
    }

    .content .share button span {
        display: inline-block;
    }

    .content .share button:hover {
        background-color: #F1F3F5;
    }
}

@media (orientation: portrait) {
    .content .edit form {
        width: 100%;
        height: 79.2105263158vw;
        position: absolute;
        bottom: 0;
        left: 0;
        gap: 0.4vh;
        border-radius: 2vh;
        z-index: 1001;
        background-color: white;
        padding: 4vh;
    }

    .content .edit h1 {
        font-family: var(--font-family-sf_pro_display-medium);
        font-size: 6.31578947368vw;
        font-weight: 500;
        text-align: left;
        color: #141516;
    }

    .content .edit input {
        margin-top: 6.31578947368vw !important;
        width: 100%;
        height: 15.2631578947vw;
        border: #F1F3F5;
        border-radius: 3.15789473684vw;
        padding: 6.84210526316vw;
        padding-right: 2.447916666vw;
        margin-top: 0;
        font-family: var(--font-family-sf_pro_display-regular);
        background-color: var(--wild-sand);
        font-size: 4.73684210526vw;
        color: #141516;
        outline: none;
    }

    .content .edit input[type="submit"] {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3.15789473684vw !important;
        width: 100%;
        height: 15.2631578947vw;
        border: #F1F3F5;
        border-radius: 3.15789473684vw;
        font-family: var(--font-family-sf_pro_display-medium);
        font-size: 4.73684210526vw;
        outline: none;
        padding: 0;
    }

    .content .share {
        width: 72.1052631579vw;
        top: 130vw;
        left: 13.9473684211vw;
        border-radius: 3.15789473684vw;
        padding: 3.15789473684vw;
        gap: 3.15789473684vw;
        background-color: white;
        position: absolute;
        z-index: 10;
        box-shadow: 0px 4px 14px 0px #14151626;
    }

    .content .share a {
        text-decoration: none;
    }

    .content .share button {
        width: 67.8947368421vw;
        height: 10.5263157895vw;
        border-radius: 2.63157894737vw;
        padding: 3.15789473684vw;
        gap: 2.10526315789vw;
        border: none;
        background-color: #FFFFFF;
        font-family: var(--font-family-sf_pro_display-medium);
        color: #141516;
        font-size: 4.21052631579vw;
        font-weight: 500;
        display: flex;
        align-items: center;
    }

    .content .share button img {
        width: 4.21052631579vw;
    }

    .content .share button span {
        display: inline-block;
    }

    .content .share button:hover {
        background-color: #F1F3F5;
    }
}