@media (orientation: landscape) {
    .content {
        height: 77.1929824561vh !important;
    }

    .content .frame .title-bar {
        color: #989FA6;
        font-family: var(--font-family-sf_pro_display-medium);
        font-size: 2.08333333333vw;
        font-weight: 500;
        line-height: 2.5vw;
        letter-spacing: -0.02em;
        display: inline;
    }

    .content .frame .title-bar h1 {
        display: inline;
        color: #989FA6;
        font-family: var(--font-family-sf_pro_display-medium);
        font-size: 2.08333333333vw;
        font-weight: 500;
        line-height: 2.5vw;
        letter-spacing: -0.02em;
        display: inline;
    }

    .content .frame .title-bar span {
        margin-left: 0.83333333333vw;
        margin-right: 0.83333333333vw;
    }

    .content .frame a {
        text-decoration: none;
    }

    .content .frame .title-bar {
        color: #989FA6;
        font-family: var(--font-family-sf_pro_display-medium);
        font-size: 2.08333333333vw;
        font-weight: 500;
        line-height: 2.5vw;
        letter-spacing: -0.02em;
        display: inline;
    }

    .content .frame .title-bar span {
        margin-left: 0.83333333333vw;
        margin-right: 0.83333333333vw;
    }

    .content .frame .bold {
        color: #141516 !important;
    }

    .content .frame hr {
        margin: 0;
    }

    .content .frame .menu {
        height: 5.1vh;
        width: 36.4583333333vw;
        background: #F1F3F5;
        border-radius: 1vh;
        text-align: center;
        margin-top: 3.2vh;
    }

    .content .frame .menu div {
        height: 5.1vh;
        width: 18.0729166667vw;
        padding: 1.4vh;
        gap: 0.8vh;
        font-family: var(--font-family-sf_pro_display-regular);
        font-size: 0.83333333333vw;
        font-weight: 500;
        line-height: 1vw;
        letter-spacing: -0.01em;
        color: #989FA6;
        border-radius: 1vh;
    }

    .content .frame .menu .selected {
        background: #FFFFFF !important;
        box-shadow: 0px 4px 15px 0px #2424241A;
        color: #141516 !important;
    }

    .content .frame .menu .favorite {
        display: inline-block;
        width: 49.5%;
    }

    .content .frame .menu .history {
        display: inline-block;
        width: 49.5%;
    }

    .content .frame .list .list-item .left .original_url a {
        font-family: var(--font-family-sf_pro_display-regular);
        font-size: 1.04166666667vw;
        font-weight: 500;
        line-height: 1.04166666667vw;
        text-align: left;
        margin: 0;
        text-decoration: none;
        color: #989FA6;
    }
}

@media (orientation: portrait) {

}