{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Мои ссылки и QR-коды{% endblock %}
{% block style %}
	.history-frame {
		height: 26.8vh;
	}

	.history-frame .layout-placeholder {
		margin-top: 4vh;
	}
{% endblock %}
{% block content_class %}history-frame{% endblock %}
{% block history_selected %}selected{% endblock %}
{% block history_bold %}bold{% endblock %}
{% block history_icon %}
	<img src="{% static 'images/svg/bold/history.svg' %}" alt="Тарифы">
{% endblock %}
{% block content %}
	<p class="layout-placeholder">Функционал не описан</h1>
{% endblock %}
