{% extends 'base.html' %}
{% load static %}
{% block title %}Это линкер от VI–media{% endblock %}
{% block style %}
	.index-frame {
		height: 26.8vh;
	}

	.index-frame .with-url {
		height: 42.8vh !important;
	}

	.index-frame input.url {
		border: #F1F3F5;
		border-radius: 2vh;

		width: 28.645833333vw;
		height: 7vh;

		margin-top: 3vh;
		padding: 2.6vh;

		font-family: var(--font-family-sf_pro_display-medium);
		background-color: var(--wild-sand);
		font-size: 1.8vh;
		font-color: #141516;
		line-height: 1.8vh;
	}

	.index-frame input.submit {
		color: var(--manatee);

		font-style: normal;
		font-weight: 500;
		
		margin-top: 3vh;
		margin-left: 0.625vw;

		height: 7vh;
		width: 7.1875vw;
		position: absolute;
		border: #F1F3F5;
		border-radius: 2vh;

		font-family: var(--font-family-sf_pro_display-medium);
		background-color: var(--wild-sand);
		font-size: 1.8vh;
		line-height: 1.8vh;
	}

	.index-frame input.submit.active {
		background-color: #1599F5;
		color: var(--white);
	}

	.index-frame h1 {
		background-color: transparent;
		color: var(--bunker);
		font-family: var(--font-family-sf_pro_display-medium);
		font-size: 4vh;
		font-style: normal;
		font-weight: 500;
		height: 4.8vh;
		width: 21.354166666vw;
		letter-spacing: -0.80px;
		line-height: 4.8vh;
		text-align: left;
		white-space: nowrap;
		
	}	
{% endblock %}
{% block content_class %}index-frame{% endblock %}
{% block index_selected %}selected{% endblock %}
{% block index_bold %}bold{% endblock %}
{% block index_icon %}
	<img class="index-frame-menu-item-icon" src="{% static 'images/svg/bold/index-icon.svg' %}" alt="Линкер">
{% endblock %}
{% block content %}
	<h1>Это линкер от VI–media</h1>
	<div>
		<input type="text" class="url" placeholder="Нажмите ctrl+v или вставьте ссылку"/>
		<img src="{% static 'images/svg/normal/cross-small.svg' %}" />
		<input type="submit" class="submit text_label" value="Сократить"/>
	</div>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const inputField = document.querySelector(".main-frame input.url");
			const submitButton = document.querySelector(".main-frame input.submit");
	
			inputField.addEventListener("input", function () {
				if (inputField.value.trim() !== "") {
					submitButton.classList.add("active");
				} else {
					submitButton.classList.remove("active");
				}
			});
		});
	</script>
{% endblock %}