{% extends 'base.html' %}
{% load static %}
{% block title %}Это линкер от VI–media{% endblock %}
{% block style %}
	@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
	@font-face {
		font-family: "SF Pro Display-Medium";
		font-style: normal;
		font-weight: 500;
		src: url('https://anima-uploads.s3.amazonaws.com/projects/64f7ed1586d1fc0125de8d9c/fonts/sf-pro-display-medium.otf') format("opentype");
	}

	@font-face {
		font-family: "SF Pro Display-Regular";
		font-style: normal;
		font-weight: 400;
		src: url('https://anima-uploads.s3.amazonaws.com/projects/62e5bd2f729e81c0f2cb0ddb/fonts/sf-pro-display-regular.ttf') format("truetype");
	}
	/* The following line is used to measure usage of this code. You can remove it if you want. */

	@import url("https://px.animaapp.com/60a92b94585976d8c3963153.60a92b95d756c491f319c2f5.vPVQTYZ.hch.png");
	.screen textarea:focus,
	.screen input:focus {
		outline: none;
	}

	.screen * {
		-webkit-font-smoothing: antialiased;
		box-sizing: border-box;
	}

	.screen div {
		-webkit-text-size-adjust: none;
	}

	.component-wrapper a {
		display: contents;
		pointer-events: auto;
		text-decoration: none;
	}

	.component-wrapper * {
		-webkit-font-smoothing: antialiased;
		box-sizing: border-box;
		pointer-events: none;
	}

	.component-wrapper a *,
	.component-wrapper input,
	.component-wrapper video,
	.component-wrapper iframe {
		pointer-events: auto;
	}

	.component-wrapper.not-ready,
	.component-wrapper.not-ready * {
		visibility: hidden !important;
	}

	.screen a {
		display: contents;
		text-decoration: none;
	}

	.full-width-a {
		width: 100%;
	}

	.full-height-a {
		height: 100%;
	}

	.container-center-vertical {
		align-items: center;
		display: flex;
		flex-direction: row;
		height: 100%;
		pointer-events: none;
	}

	.container-center-vertical > * {
		flex-shrink: 0;
		pointer-events: auto;
	}

	.container-center-horizontal {
		display: flex;
		flex-direction: row;
		justify-content: center;
		pointer-events: none;
		width: 100%;
	}

	.container-center-horizontal > * {
		flex-shrink: 0;
		pointer-events: auto;
	}

	.auto-animated div {
		--z-index: -1;
		opacity: 0;
		position: absolute;
	}

	.auto-animated input {
		--z-index: -1;
		opacity: 0;
		position: absolute;
	}

	.auto-animated .container-center-vertical,
	.auto-animated .container-center-horizontal {
		opacity: 1;
	}

	.overlay-base {
		display: none;
		height: 100%;
		opacity: 0;
		position: fixed;
		top: 0;
		width: 100%;
	}

	.overlay-base.animate-appear {
		align-items: center;
		animation: reveal 0.3s ease-in-out 1 normal forwards;
		display: flex;
		flex-direction: column;
		justify-content: center;
		opacity: 0;
	}

	.overlay-base.animate-disappear {
		animation: reveal 0.3s ease-in-out 1 reverse forwards;
		display: block;
		opacity: 1;
		pointer-events: none;
	}

	.overlay-base.animate-disappear * {
		pointer-events: none;
	}

	@keyframes reveal {
		from {
			opacity: 0
		}
		to {
			opacity: 1
		}
	}

	.animate-nodelay {
		animation-delay: 0s;
	}

	.align-self-flex-start {
		align-self: flex-start;
	}

	.align-self-flex-end {
		align-self: flex-end;
	}

	.align-self-flex-center {
		align-self: flex-center;
	}

	.valign-text-middle {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.valign-text-bottom {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	input:focus {
		outline: none;
	}

	.listeners-active,
	.listeners-active * {
		pointer-events: auto;
	}

	.hidden,
	.hidden * {
		pointer-events: none;
		visibility: hidden;
	}

	.smart-layers-pointers,
	.smart-layers-pointers * {
		pointer-events: auto;
		visibility: visible;
	}

	.listeners-active-click,
	.listeners-active-click * {
		cursor: pointer;
	}

	* {
		box-sizing: border-box;
	}

	:root {
		--black: #000000;
		--bunker: #141516;
		--manatee: #979ea5;
		--white: #ffffff;
		--wild-sand: #f1f3f5;
		--font-size-l: 40px;
		--font-size-m: 20px;
		--font-size-s: 18px;
		--font-size-xs: 16px;
		--font-family-sf_pro_display-medium: "SF Pro Display-Medium", Helvetica;
		--font-family-sf_pro_display-regular: "SF Pro Display-Regular", Helvetica;
	}

	.sfprodisplay-medium-manatee-20px {
		color: var(--manatee);
		font-family: var(--font-family-sf_pro_display-medium);
		font-size: var(--font-size-m);
		font-style: normal;
		font-weight: 500;
	}

	:root {}
	/* screen - qr-frame */

	.qr-frame {
		background-color: var(--wild-sand);
		height: 1000px;
		overflow: hidden;
		overflow-x: hidden;
		position: relative;
		width: 1920px;
	}

	.qr-frame .qr-frame .background {
		background-color: var(--white);
		border-radius: 50px;
		height: 628px;
		left: 550px;
		position: absolute;
		top: 127px;
		width: 820px;
	}

	.qr-frame h1 {
		background-color: transparent;
		color: var(--bunker);
		font-family: var(--font-family-sf_pro_display-medium);
		font-size: var(--font-size-l);
		font-style: normal;
		font-weight: 500;
		height: auto;
		left: 610px;
		letter-spacing: -0.80px;
		line-height: 48.0px;
		position: absolute;
		text-align: left;
		top: 186px;
		white-space: nowrap;
		width: auto;
	}

	.qr-frame .frame-12-nxQtxD {
		align-items: center;
		background-color: var(--white);
		border-bottom-style: none;
		border-color: var(--wild-sand);
		border-left-style: none;
		border-right-style: none;
		border-top-style: solid;
		border-top-width: 1px;
		display: flex;
		justify-content: space-between;
		left: 610px;
		padding: 60px 0px 0px;
		position: absolute;
		top: 395px;
		width: 700px;
	}

	.qr-frame .x1-oeNQx1 {
		background-color: transparent;
		height: 240px;
		object-fit: cover;
		position: relative;
		width: 240px;
	}

	.qr-frame .frame-11-oeNQx1 {
		background-color: transparent;
		flex: 0 0 auto;
		position: relative;
	}

	.qr-frame .frame-8-nxQtxD {
		display: flex;
		gap: 12px;
		left: 610px;
		position: absolute;
		top: 265px;
		width: 700px;
	}

	.qr-frame .frame-7-ae8mqk {
		border-radius: 20px;
		display: flex;
		flex: 1;
		flex-grow: 1;
		gap: 10px;
		height: 70px;
		padding: 26px;
	}

	.qr-frame .httpsdocsgooglecomdo-Bxel4x {
		background-color: transparent;
		color: var(--bunker);
		font-family: var(--font-family-sf_pro_display-regular);
		font-size: var(--font-size-s);
		font-style: normal;
		font-weight: 400;
		letter-spacing: -0.18px;
		line-height: 18px;
		margin-top: -1.00px;
		position: relative;
		text-align: left;
		white-space: nowrap;
		width: fit-content;
	}

	.qr-frame .frame-3-ae8mqk {
		align-items: center;
		background-color: var(--wild-sand);
		border-radius: 20px;
		display: inline-flex;
		flex: 0 0 auto;
		gap: 10px;
		justify-content: center;
		padding: 26px;
		position: relative;
	}

	.qr-frame .qr-9TZBXe {
		color: var(--manatee);
		font-family: var(--font-family-sf_pro_display-medium);
		font-size: var(--font-size-s);
		font-style: normal;
		font-weight: 500;
		letter-spacing: -0.18px;
		line-height: 18px;
		text-align: left;
	}

	.qr-frame .rectangle-5-nxQtxD {
		background-color: var(--wild-sand);
		height: 31px;
		left: 1066px;
		position: absolute;
		top: 284px;
		width: 48px;
	}

	.qr-frame .cross-small-1-nxQtxD {
		background-color: transparent;
		height: 24px;
		left: 1078px;
		position: absolute;
		top: 288px;
		width: 24px;
	}

	.qr-frame .footer-nxQtxD {
		background-color: transparent;
		height: 200px;
		left: 0px;
		overflow: hidden;
		position: absolute;
		top: 800px;
		width: 1920px;
	}

	.qr-frame .text_label-UTZNxH {
		color: var(--bunker);
		font-family: var(--font-family-sf_pro_display-regular);
		font-size: var(--font-size-xs);
		font-style: normal;
		font-weight: 400;
		height: auto;
		left: 20px;
		letter-spacing: -0.16px;
		line-height: 16px;
		opacity: 0.3;
		position: absolute;
		text-align: left;
		top: 163px;
		width: auto;
	}

	.qr-frame .pr-Operator-UTZNxH {
		background-color: transparent;
		color: var(--bunker);
		font-family: var(--font-family-sf_pro_display-regular);
		font-size: var(--font-size-xs);
		font-style: normal;
		font-weight: 400;
		height: auto;
		left: 881px;
		letter-spacing: -0.16px;
		line-height: 16px;
		opacity: 0.3;
		position: absolute;
		text-align: right;
		top: 163px;
		white-space: nowrap;
		width: auto;
	}

	.qr-frame .rectangle-34-UTZNxH {
		-webkit-backdrop-filter: blur(20px) brightness(100%);
		backdrop-filter: blur(20px) brightness(100%);
		background-color: var(--white);
		border-radius: 500px;
		height: 44px;
		left: 1856px;
		position: absolute;
		top: 136px;
		width: 44px;
	}

	.qr-frame .settings-1-UTZNxH {
		background-color: transparent;
		height: 20px;
		left: 1868px;
		position: absolute;
		top: 148px;
		width: 20px;
	}

	.qr-frame .header-nxQtxD {
		background-color: transparent;
		height: 90px;
		left: 0px;
		overflow: hidden;
		position: absolute;
		top: -0px;
		width: 1920px;
	}

	.qr-frame .frame-4-m9YJbb {
		align-items: center;
		background-color: var(--white);
		border-radius: 50px;
		display: inline-flex;
		gap: 10px;
		left: 1704px;
		padding: 4px 4px 4px 20px;
		position: absolute;
		top: 15px;
	}

	.qr-frame .x-nOLbR7 {
		background-color: transparent;
		color: var(--bunker);
		font-family: var(--font-family-sf_pro_display-medium);
		font-size: var(--font-size-m);
		font-style: normal;
		font-weight: 500;
		letter-spacing: -0.20px;
		line-height: 20px;
		position: relative;
		text-align: right;
		white-space: nowrap;
		width: fit-content;
	}

	.qr-frame .frame-3-nOLbR7 {
		background-color: transparent;
		height: 44px;
		position: relative;
		width: 44px;
	}

	.qr-frame .frame-3-m9YJbb {
		align-items: center;
		background-color: var(--white);
		border-radius: 50px;
		display: inline-flex;
		left: 606px;
		padding: 4px;
		position: absolute;
		top: 15px;
	}

	.qr-frame .frame-5-pYxpjF {
		align-items: center;
		background-color: transparent;
		border-radius: 50px;
		display: inline-flex;
		flex: 0 0 auto;
		gap: 8px;
		padding: 10px 16px;
		position: relative;
	}

	.qr-frame .text_label-zSvKgN {
		letter-spacing: -0.20px;
		line-height: 24.0px;
		margin-top: -1.00px;
		position: relative;
		text-align: right;
		width: fit-content;
	}

	.qr-frame .link-1-zSvKgN {
		background-color: transparent;
		height: 16px;
		position: relative;
		width: 16px;
	}

	.qr-frame .frame-7-pYxpjF {
		border-radius: 50px;
		display: inline-flex;
		flex: 0 0 auto;
		gap: 8px;
		padding: 10px 16px;
	}

	.qr-frame .qr-pudIbP {
		color: var(--bunker);
		font-family: var(--font-family-sf_pro_display-medium);
		font-size: var(--font-size-m);
		font-style: normal;
		font-weight: 500;
		letter-spacing: -0.20px;
		line-height: 24.0px;
		text-align: right;
	}

	.qr-frame .qr-1-pudIbP {
		background-color: transparent;
		height: 16px;
		position: relative;
		width: 16px;
	}

	.qr-frame .frame-6-pYxpjF {
		align-items: center;
		background-color: transparent;
		border-radius: 50px;
		display: inline-flex;
		flex: 0 0 auto;
		gap: 8px;
		padding: 10px 16px;
		position: relative;
	}

	.qr-frame .qr-VSjnzU {
		letter-spacing: -0.20px;
		line-height: 24.0px;
		text-align: right;
	}

	.qr-frame .folder-open-1-VSjnzU {
		background-color: transparent;
		height: 16px;
		position: relative;
		width: 16px;
	}

	.qr-frame .frame-8-pYxpjF {
		border-radius: 50px;
		display: inline-flex;
		flex: 0 0 auto;
		gap: 8px;
		padding: 10px 16px;
		position: relative;
	}

	.qr-frame .text_label-DDNJqp {
		letter-spacing: -0.20px;
		line-height: 24.0px;
		margin-top: -1.00px;
		position: relative;
		text-align: right;
		width: fit-content;
	}

	.qr-frame .coins-1-DDNJqp {
		background-color: transparent;
		height: 16px;
		position: relative;
		width: 16px;
	}

	.qr-frame .mask-group-m9YJbb {
		background-color: transparent;
		height: 60px;
		left: 20px;
		position: absolute;
		top: 15px;
		width: 55px;
	}

	.qr-frame .frame-7 {
		align-items: center;
		background-color: var(--wild-sand);
		position: relative;
	}

	.qr-frame .frame-8 {
		align-items: center;
		background-color: transparent;
	}

	.qr-frame .qr {
		background-color: transparent;
		margin-top: -1.00px;
		position: relative;
		white-space: nowrap;
		width: fit-content;
	}

	.qr-frame .text_label {
		background-color: transparent;
		white-space: nowrap;
	}	
{% endblock %}
{% block qr_selected %}selected{% endblock %}
{% block qr_bold %}bold{% endblock %}
{% block qr_icon %}
	<img class="qr-frame-menu-item-icon" src="{% static 'images/svg/bold/qr-icon.svg' %}" alt="QR-генератор">
{% endblock %}
{% block content %}
	<div class="qr-frame screen">
		<div class="background"></div>
		<h1>Это линкер от VI–media</h1>
		<div class="frame-12-nxQtxD">
			<img class="x1-oeNQx1" src="{% static 'images/svg/bold/qr-icon.svg' %}" alt="1">
			<img class="frame-11-oeNQx1" src="{% static 'images/svg/bold/qr-icon.svg' %}" alt="Frame 11">
		</div>
		<div class="frame-8-nxQtxD frame-8">
			<div class="frame-7-ae8mqk frame-7">
				<div class="httpsdocsgooglecomdo-Bxel4x">https://docs.google.com/document/d/1XMBBJMsYzPO5w</div>
			</div>
			<div class="frame-3-ae8mqk">
				<div class="qr-9TZBXe qr">Создать QR-код</div>
			</div>
		</div>
		<div class="rectangle-5-nxQtxD"></div>
		<img class="cross-small-1-nxQtxD" src="{% static 'images/svg/normal/cross-small.svg' %}" alt="cross-small 1">
	</div>
{% endblock %}