{% extends 'layouts/base.html' %}
{% load static %}
{% load qr_code %}
{% block title %}Это QR-генератор от VI–media{% endblock %}
{% block style %}
	.qr-frame {
		height: 26.8vh;
	}

	.with-url {
		height: 62.8vh !important;
	}

	.qr-frame .url {
		display: inline-block;	
		margin-top: 3vh;
		width: 37.458333333vw;
	}

	.qr-frame input.url {
		border: #F1F3F5;
		border-radius: 2vh;

		width: 28.645833333vw;
		height: 7vh;

		padding: 2.6vh;
		padding-right: 2.447916666vw;
		margin-top: 0;

		font-family: var(--font-family-sf_pro_display-regular);
		background-color: var(--wild-sand);
		font-size: 0.9375vw;
		font-color: #141516;
		line-height: 0.9375vw;
	}

	.qr-frame input.submit {
		color: var(--manatee);
		margin-left: 0.625vw;

		height: 7vh;
		width: 7.1875vw;
		border: #F1F3F5;
		border-radius: 2vh;
		margin-top: 0;

		font-family: var(--font-family-sf_pro_display-medium);
		background-color: var(--wild-sand);
		font-size: 0.9375vw;
		font-style: normal;
		font-weight: 500;
		line-height: 0.9375vw;
	}

	.qr-frame h1 {
		background-color: transparent;
		color: var(--bunker);
		font-family: var(--font-family-sf_pro_display-medium);
		font-size: 2.083333333vw;
		font-style: normal;
		font-weight: 500;
		height: 4.8vh;
		width: 21.354166666vw;
		letter-spacing: -0.80px;
		line-height: 2.083333333vw;
		text-align: left;
		white-space: nowrap;
		margin-bottom: 0;
	}	

	.qr-frame .cross-small {
		position: absolute;
		left: 30.1932291667vw;
		top: 16.671vh;
		width: 0.65572916666vw;
		filter: invert(77%) sepia(2%) saturate(1396%) hue-rotate(169deg) brightness(82%) contrast(91%);
	}

	.qr-frame .cross-small:hover {
		filter: invert(5%) sepia(6%) saturate(712%) hue-rotate(169deg) brightness(101%) contrast(92%);
	}

	.qr-frame hr {
		margin-top: 5.1vh;
	}

	.qr-frame .result-frame {
		display: flex;
		align-items: center;
		margin-top: 4vh;
	}

	.qr-frame .result-frame .short-url-div {
		display: inline-block;
	}
	
	.qr-frame .result-frame .short-url-frame {
		display: inline-block;
		width: auto;
		margin-top: 0;
	}

	.qr-frame .result-frame .short-url-frame a {
		font-family: var(--font-family-sf_pro_display-medium);
		font-size: 1.5625vw;
		line-height: 1.5625vw;
		font-weight: 500;
		text-decoration: none;
		color: #1599F5;
	}

	.qr-frame .result-frame .short-url-frame span {
		font-family: var(--font-family-sf_pro_display-medium);
		font-size: 0.833333333vw;
		line-height: 0.833333333vw;
		font-weight: 400;
		color: #989FA6;
		margin-top: 0.6vh;
	}

	.qr-frame .result-frame .buttons {
		display: flex;
		margin-left: auto;
		gap: 1vw;
		width: auto;
	}

	.qr-frame .result-frame .buttons button {
		height: 8vh;
		width: 8vh;
		background-color: #F1F3F5;
		border-radius: 50vh;
		border: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.qr-frame .result-frame .buttons button img {
		height: 2.4vh;
		width: 2.4vh;
	}

	.qr-frame .share-frame {
		width: 16.875vw;
		height: 13.6vh;
		top: 50.6vh;
		left: 30.625vw;
		border-radius: 2vh;
		padding: 1.6vh;
		gap: 0.4vh;
		background-color: white;
		position: absolute;
		z-qr: 10;
		box-shadow: 0px 4px 14px 0px #14151626;
	}

	.qr-frame .share-frame a {
		text-decoration: none;
	}

	.qr-frame .share-frame button {
		width: 15.208333333vw;
		height: 5vh;
		border-radius: 1vh;
		padding: 1.6vh;
		gap: 0.8vh;
		border: none;
		background-color: #FFFFFF;

		font-family: var(--font-family-sf_pro_display-medium);
		font-color: #141516;
		font-size: 0.9375vw;
		font-weight: 500;
		line-height: 0.9375vw;
		display: flex;
		align-items: center;
	}

	.qr-frame .share-frame button img {
		max-width: 0.83333333333vw;
		width: auto;
		height: 0.83333333333vw;
		display: inline-block;
	}
	.qr-frame .share-frame button span {
		display: inline-block;
	}

	.qr-frame .share-frame button:hover {
		background-color: #F1F3F5;
	}

	.segno {
		height: 30.5894848646vh;
		width: 15.932023367vw;
		position: relative;
	}
{% endblock %}
{% block content_class %}qr-frame{% if url != "" %} with-url{% endif %}{% endblock %}
{% block qr_selected %}selected{% endblock %}
{% block qr_bold %}bold{% endblock %}
{% block qr_icon %}
	<img src="{% static 'images/svg/bold/qr.svg' %}" alt="QR-генератор">
{% endblock %}
{% block content %}
	<h1>Это QR-генератор от VI–media</h1>
	<form class="url" method="POST" action="{% url 'generate_qr' %}">
		{% csrf_token %}
		<input name="url" id="urlInputField" class="url" type="text" placeholder="Нажмите ctrl+v или вставьте ссылку" value="{{ original_url }}"/>
		<img id="crossButton" class="cross-small" src="{% static 'images/svg/normal/cross.svg' %}"/>
		<input id="submitButton" type="submit" class="submit text_label" value="Сократить"/>
	</form>
	{% if qr %}
	<hr>
	<div class="result-frame">
		<div style="display: inline-block;">
			<div id="qrImage" class="short-url-frame">
				{{ qr }}
			</div>
		</div>
		<div class="buttons">
			<button id="downloadButton" class="gray-hovered">
				<img src="{% static 'images/svg/bold/download.svg' %}" />
			</button>
			<button id="shareButton" class="gray-hovered">
				<img src="{% static 'images/svg/bold/share.svg' %}" />
			</button>
			<button id="favoriteButton" class="gray-hovered">
				{% if not is_favorite %}
					<img src="{% static 'images/svg/bold/heart.svg' %}" />
				{% else %}
					<img src="{% static 'images/svg/bold/heart-fill.svg' %}" />	
					<form method="POST" action="{% url 'remove_url_favorite' %}" hidden>
						{% csrf_token %}
						<input name="url" type="text" value="{{ url }}"/>
						<input id="sendRemoveUrlButton" type="submit"/>
					</form>
				{% endif %}
			</button>
		</div>
	</div>
	<div id="share_frame" class="share-frame" hidden>
		<a href="https://t.me/share/url?url=http://{{ host }}/qr/{{ url }}&text=Делюсь с вами ссылкой на QR через сервис link.example.com">
			<button id="shareToTelegramButton">
				<img src="{% static 'images/svg/bold/telegram.svg' %}"/>
				<span>Отправить в Telegram</span>
			</button>
		</a>
		<a href="https://api.whatsapp.com/send?text=Делюсь с вами QR http://{{ host }}/qr/{{ url }} через сервис link.example.com">
			<button id="shareToWhatsAppButton">
				<img src="{% static 'images/svg/bold/whatsapp.svg' %}"/>
				<span>Отправить в WhatsApp</span>
			</button>
		</a>
	</div>
	<script>
		var is_share_frame_hidden = true;
		submitButton.classList.add("active");
		submitButton.classList.add("sky-hovered");

		downloadButton.addEventListener('click', function(event) {
			downloadQrImage.innerHTML = qrImage.innerHTML;
			downloadQrBlock.removeAttribute("hidden");
		})

		shareButton.addEventListener('click', function(event) {
			if (is_share_frame_hidden) {
				share_frame.removeAttribute("hidden");
				is_share_frame_hidden = false;
			} else {
				share_frame.setAttribute("hidden", "hidden");
				is_share_frame_hidden = true;
			}
		})

		favoriteButton.addEventListener("click", function () {
			{% if user.is_authenticated %}
				{% if is_favorite %}
					sendRemoveUrlButton.click();
				{% else %}
					favoriteUrlInput.value = "{{ url }}";
					add_favorite_block.removeAttribute("hidden");
				{% endif %}
			{% else %}
				document.location.href = "{% url 'registration' %}";
			{% endif %}
		});
	</script>
	{% endif %}
	<script>
		urlInputField.addEventListener('input', function(event) {
			if (urlInputField.value == "") {
				submitButton.classList.remove("active");
				submitButton.classList.remove("sky-hovered");
			} else {
				submitButton.classList.add("active");
				submitButton.classList.add("sky-hovered");
			}
		})
		crossButton.addEventListener('click', function(event) {
			urlInputField.value = "";
			submitButton.classList.remove("active");
			submitButton.classList.remove("sky-hovered");
		})
	</script>
{% endblock %}