{% extends 'layouts/history.html' %}
{% load static %}
{% block additional_style %}
	.history-frame {
		height: 73vh;
	}

	.history-frame a {
		text-decoration: none;
	}

	.history-frame .title-bar {
		color: #989FA6;
		font-family: var(--font-family-sf_pro_display-medium);
		font-size: 2.08333333333vw;
		font-weight: 500;
		line-height: 2.5vw;
		letter-spacing: -0.02em;
		display: inline;		
	}

	.history-frame .title-bar h1 {
		display: inline;
		color: #989FA6;
		font-family: var(--font-family-sf_pro_display-medium);
		font-size: 2.08333333333vw;
		font-weight: 500;
		line-height: 2.5vw;
		letter-spacing: -0.02em;
		display: inline;	
	}

	.history-frame .title-bar span {
		margin-left: 0.83333333333vw;
		margin-right: 0.83333333333vw;
	}

	.history-frame .bold {
		color: #141516 !important;
	}

	.history-frame .search {
		margin-top: 2vh;
		width: 36.4583333333vw;
		height: 6vh;
		padding: 0;
	}

	.history-frame .search input {
		width: 100%;
		height: 100%;
		padding-top: 2vh;
		padding-bottom: 2vh;
		gap: 0px;
		border: none;
		border-bottom: 2px solid #F1F3F5;

		font-family: var(--font-family-sf_pro_display-regular);
		font-size: 0.83333333333vw;
		font-weight: 500;
		line-height: 1vw;
		letter-spacing: -0.01em;
		color: #141516;
	}

	.history-frame .search img {
		width: 1.04166666667vw;
		height: auto;
		position: absolute;
		right: 3.125vw;
		top: 23.1vh;
	}

	.history-frame .search input::placeholder {
		color: #989FA6;
	}

	.history-frame .list {
		margin-top: 2vh;
		display: grid;
		height: 40vh;
		overflow-y: auto;
		scrollbar-width: none;
	}

	.history-frame .list::-webkit-scrollbar {
		display: none;
	}

	.history-frame .list .date-title {
		margin-left: 15.9895833333vw;
		margin-top: 4vh;
		border: 2px solid #F1F3F5;
		height: 3.3vh;
		width: 4.47916666667vw;
		padding-top: 0.8vh;
		padding-bottom: 0.8vh;
		border-radius: 500px;
		text-align: center;

		font-family: SF Pro Display;
		font-size: 0.72916666666vw;
		font-weight: 500;
		line-height: 0.875vw;
		color: #989FA6;
		letter-spacing: -0.01em;
	}

	.history-frame .list .list-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 8vh;
		width: 100%;
		border: none;
		border-bottom: 2px solid #F1F3F5;
	}

	.history-frame .list .list-item .left {
		display: flex;
		align-items: center;
		width: 11.6145833333vw;
	}

	.history-frame .favorite-frame .qr-icon {
		height: 1.04166666667vw;
		width: 1.04166666667vw;
		display: inline-block;
	}

	.history-frame .favorite-frame .qr-icon img {
		height: 1.04166666667vw;
		width: 1.04166666667vw;
	}

	.history-frame .list .list-item .original_url {
		margin-left: 0.83333333333vw;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-family: var(--font-family-sf_pro_display-regular);
		font-size: 1.04166666667vw;
		font-weight: 500;
		color: #141516;
	}

	.history-frame .list .list-item .left .original_url a {
		font-family: var(--font-family-sf_pro_display-regular);
		font-size: 1.04166666667vw;
		font-weight: 500;
		line-height: 1.04166666667vw;
		letter-spacing: -0.01em;
		text-align: left;
		margin: 0;
		text-decoration: none;
		color: #141516;
	}

	.history-frame .list .list-item .right {
		text-align: right;
		font-family: var(--font-family-sf_pro_display-regular);
		font-size: 0.83333333333vw;
		width: 4.21875vw;	
		color: #989FA6;
	}

	.history-frame .list .list-item .right p {
		margin: 0;
		font-family: var(--font-family-sf_pro_display-regular);
		font-size: 0.83333333333vw;
		font-weight: 500;
		line-height: 1.23333333333vw;
		letter-spacing: -0.01em;
		color: #989FA6;
	}
{% endblock %}
{% block qrs_bold %}class="bold"{% endblock %}
{% block favorite_url %}{% url 'favorite_qrs' %}{% endblock %}
{% block history_url %}{% url 'history_qrs' %}{% endblock %}
{% block history_menu_selected %}selected{% endblock %}
{% block history_content %}
	<div class="favorite-frame">
		<div class="list">
			{% for date, urls in urls_by_dates.items %}
			<div class="date-title">
				{{ date }}
			</div>
				{% for url in urls %}
					<div class="list-item">
						<div class="left">
							<img class="qr-icon" src="{% static 'images/svg/bold/qr.svg' %}" />
							<div class="original_url">
								<a href="http://{{ request.get_host }}/{{ url.original_url }}">{{ url.original_url }}</a>
							</div>
						</div>
						<div class="right">
							<p>{{ url.created_at|date:'d.m.Y H:i' }}</p>
						</div>
					</div>
				{% endfor %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
