@media (orientation: landscape) {
    #copyAlert {
        position: absolute;
        bottom: 3vh;
        height: 5.6vh;
        width: 17.8125vw;
        left: 41.09375vw;
        padding: 2vh 1.04166666667vw 2vh 1.04166666667vw;
        border-radius: 1vh;
        background-color: #141516E5;
    
        font-family: var(--font-family-sf_pro_display-regular);
        font-size: 0.83333333333vw;
        font-weight: 500;
        line-height: 0.83333333333vw;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: white;
    }
    
    #copyAlert p {
        margin: 0;
        display: inline-flex;
        margin-right: 0.81822916666vw;
        height: 0.81822916666vw;
    }
    
    #copyAlert img {
        margin: 0;
        display: inline-flex;
        width: 0.81822916666vw;
        height: 0.81822916666vw;
    }    
}

@media (orientation: portrait) {

}