{% extends 'layouts/auth.html' %}
{% load static %}
{% block title %}Авторизация{% endblock %}
{% block another_css_files %}
	<link href="{% static 'css/auth/password_reset.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
	<div class="reset-password">
		<h1>Восстановить пароль</h1>
		<p>Введите Email, на который зарегистрирован аккаунт</p>
	  
		{% if error %}
		  <p class="error">{{ error }}</p>
		{% endif %}
	  
		<form method="post" action="{% url 'password_reset_request' %}">
		  {% csrf_token %}
		  <input id="emailInput" name="email" type="email" placeholder="Email" value="{{ email }}"/>
		  <input id="submitButton" type="submit" value="Далее" {% if email %} class="active" {% endif %}/>
		</form>
	  
		<div class="links">
		  <a id="loginLink" href="{% url 'login' %}">Авторизация</a>
		  <a id="registerLink" href="{% url 'registration' %}">Регистрация</a>
		</div>
	  
		<script>
		  function checkActive() {
				if (emailInput.value == "") {
				  submitButton.classList.remove("active");
				  submitButton.classList.remove("sky-hovered");
				  {% comment %} submitButton.removeAttribute("type"); {% endcomment %}
			  } else {
				  submitButton.classList.add("active");
				  submitButton.classList.add("sky-hovered");
				  {% comment %} submitButton.setAttribute("type", "submit"); {% endcomment %}
			  }
		  }
	  
		  emailInput.addEventListener("input", function () {
			  checkActive();
		  });
	  
		</script>
	</div>
{% endblock %}