{% extends 'layouts/history.html' %}
{% load static %}
{% block qrs_bold %}class="bold"{% endblock %}
{% block favorite_url %}{% url 'favorite_qrs' %}{% endblock %}
{% block history_url %}{% url 'history_qrs' %}{% endblock %}
{% block favorite_menu_selected %}selected{% endblock %}
{% block history_content %}
	<div class="favorite-frame">
		<div class="search">
			<input type="text" placeholder="Поиск" />
			<img src="{% static 'images/svg/normal/search.svg' %}" />
		</div>
		<div class="list">
			{% for url, qr in urls.items %}
			<div class="list-item">
                <div id="{{ url.short_url }}-qr" hidden>
                    {{ qr }}
                </div>
				<div class="left">
					<div class="title">
						<p>{{ url.title }}</p>
					</div>
					<div class="url">
						<a>{{ request.get_host }}/{{ url.short_url }}</a>
					</div>
				</div>
				<div class="right">
					<button class="downloadButton" onclick="showDownload('{{ url.short_url }}')">
						<img src="{% static 'images/svg/bold/download.svg' %}" />
					</button>
					<button class="showButton" onclick="showQR('{{ url.short_url }}')">
						<img src="{% static 'images/svg/bold/show.svg' %}" />
					</button>
					<button class="deleteButton" onclick="showDeleteFrame('{{ url.short_url }}');">
						<img src="{% static 'images/svg/bold/delete.svg' %}" />
					</button>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div id="delete_frame" class="delete-frame" hidden>
		<div class="background"></div>
		<img onclick="closeFrame(delete_frame)" />
		<form method="post" action="{% url 'delete_qr' %}">
            <img class="cross" src="{% static 'images/svg/normal/cross-small.svg' %}" onclick="closeFrame(delete_frame)"/>
			{% csrf_token %}
			<h1>Удалить QR?</h1>
			<input id="delete-cancel" type="button" value="Отмена" onclick="closeFrame(delete_frame)"/>
			<input id="delete-submit" type="submit" value="Удалить"/>
			<input id="url_to_delete" name="url" type="text" hidden/>
		</form>
	</div>
	<script src="{% static 'js/favorite.qrs.js' %}"></script>
{% endblock %}	