{% extends 'layouts/history.html' %}
{% load static %}
{% block urls_bold %}class="bold"{% endblock %}
{% block favorite_url %}{% url 'favorite_urls' %}{% endblock %}
{% block history_url %}{% url 'history_urls' %}{% endblock %}
{% block favorite_menu_selected %}selected{% endblock %}
{% block frames %}
	{% include 'layouts/parts/copy_alert.html' %}
{% endblock %}
{% block history_content %}
	<div class="favorite-frame">
		<div class="search">
			<input type="text" placeholder="Поиск" />
			<img src="{% static 'images/svg/normal/search.svg' %}" />
		</div>
		<div class="list">
			{% for url in urls %}
			<div class="list-item">
				<div class="left">
					<div class="title">
						<p>{{ url.title }}</p>
					</div>
					<div class="url">
						<a>{{ request.get_host }}/{{ url.short_url }}</a>
					</div>
				</div>
				<div class="right">
					<button class="editButton gray-hovered" onclick="showEditFrame('{{ url.title }}', '{{ url.short_url }}')">
						<img src="{% static 'images/svg/bold/edit.svg' %}" />
					</button>
					<button class="copyButton gray-hovered" onclick="copyUrl('{{ url.short_url }}')">
						<img src="{% static 'images/svg/bold/copy.svg' %}" />
					</button>
					<button class="shareButton gray-hovered" onclick="showShareFrame(this, '{{ url.short_url }}')">
						<img src="{% static 'images/svg/bold/share.svg' %}" />
					</button>
					<button class="deleteButton gray-hovered" onclick="showDeleteFrame('{{ url.short_url }}');">
						<img src="{% static 'images/svg/bold/delete.svg' %}" />
					</button>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div id="share_frame" class="share-frame" hidden>
		<a id="telegram_url" href="https://t.me/share/url?url=http://{{ host }}/qr/{{ url }}&text=Делюсь с вами ссылкой на QR через сервис link.example.com">
			<button id="shareToTelegramButton">
				<img src="{% static 'images/svg/bold/telegram.svg' %}"/>
				<span>Отправить в Telegram</span>
			</button>
		</a>
		<a id="whatsapp_url" href="https://api.whatsapp.com/send?text=Делюсь с вами QR http://{{ host }}/qr/{{ url }} через сервис link.example.com">
			<button id="shareToWhatsAppButton">
				<img src="{% static 'images/svg/bold/whatsapp.svg' %}"/>
				<span>Отправить в WhatsApp</span>
			</button>
		</a>
	</div>
	<div id="edit_frame" class="edit-frame" hidden>
		<div class="background"></div>
		<form method="post" action="{% url 'update_url_title' %}">
			{% csrf_token %}
			<h1>Название ссылки</h1>
			<input id="titleInput" minlength="1" class="title-input" name="title" type="text" placeholder="Название"/>
			<input class="editSubmitButton" type="submit"/>
			<input id="url_to_edit" name="url" type="text" hidden />
			<img class="cross" src="{% static 'images/svg/normal/cross.svg' %}" onclick="closeFrame(edit_frame)"/>
		</form>
	</div>
	<div id="delete_frame" class="delete-frame" hidden>
		<div class="background"></div>
		<form method="post" action="{% url 'delete_url_title' %}">
			{% csrf_token %}
			<img class="cross" src="{% static 'images/svg/normal/cross.svg' %}" onclick="closeFrame(delete_frame)"/>
			<h1>Удалить ссылку?</h1>
			<input id="delete-cancel" type="button" value="Отмена" onclick="closeFrame(delete_frame)"/>
			<input id="delete-submit" type="submit" value="Удалить"/>
			<input id="url_to_delete" name="url" type="text" hidden/>
		</form>
	</div>
	<script src="{% static 'js/favorite.urls.js' %}"></script>
	<script>
		function changeEditActive() {
			if (titleInput.value.trim() !== "") {
				editSubmitButton.classList.add("active");
			} else {
				editSubmitButton.classList.remove("active");
			}
		};
		
		changeEditActive();
		
		titleInput.addEventListener("input", changeEditActive);
	</script>
{% endblock %}	