{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="og:type" content="website">
        <meta name="twitter:card" content="photo">
        <title>{% block title %}{% endblock %}</title>
        <style>{% block style %}{% endblock %}</style>
        <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>
    </head>
    <body>
        <form id="qrEditorBlock" method="POST" action="{% url 'qr_update' %}" enctype="multipart/form-data" hidden>
            {% csrf_token %}
            <div class="background"></div>
            <div class="frame">
                <img class="cross" src="{% static 'images/svg/normal/cross.svg' %}" onclick="closeFrame(qrEditorBlock)"/>
                <div class="qr-background">
                    <div class="qr-image">
                        <div id="qrEditorCanvas"></div>
                    </div>
                </div>
                <div class="controls">
                    <div class="color-picker">
                        <div class="left">
                            <p>Цвет QR-кода</p>
                        </div>
                        <div id="qrColorPickerFrame" class="right">
                            <p id="qrColorLabel">#101010</p>
                            <input type="color" id="qrColor" name="qrColor" value="#101010" />
                        </div>
                    </div>
                    <div class="background-toogle">
                        <div class="left">
                            <p>Фон QR-кода</p>
                        </div>
                        <div class="right">
                            <label class="switch">
                                <input name="IsWithBackground" id="backgroundDrawToogle" type="checkbox" />
                                <span class="slider">
                                    <span class="label yes">Да</span>
                                    <span class="label no">Нет</span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="background-color-picker">
                        <div class="left">
                            <p>Цвет фона</p>
                        </div>
                        <div id="backgroundColorPickerFrame" class="right">
                            <p id="backgroundColorLabel">#FFFFFF</p>
                            <input type="color" id="backgroundColor" name="backgroundColor" value="#FFFFFF" />
                        </div>
                    </div>
                    <div class="image-picker">
                        <div class="left">
                            <p>Изображение</p>
                        </div>
                        <div class="right">
                            <input type="file" id="logo" name="logo" accept="image/png, image/jpeg" hidden/>
                            <img id="fileUploadButton" src="{% static 'images/svg/bold/upload.svg' %}" />
                        </div>
                    </div>
                </div>
                <div class="submit-button-frame">
                    <input type="submit" value="Сохранить"/>
                </div>
                <input type="text" name="url" value="{{ url }}" hidden/>
            </div>
        </form>
        <div id="showQrFrame" hidden>
            <div class="background"></div>
            <div id="qrFrame">
                <img class="cross" src="{% static 'images/svg/normal/cross.svg' %}" onclick="closeFrame(showQrFrame)"/>
                <h1>Ваш QR</h1>
                <div id="qrImageFrame"></div>
            </div>
        </div>
        <div id="downloadQrBlock" hidden>
            <div class="download-qr-background"></div>
            <div id="downloadQrImage" hidden></div>
            <div class="download-qr-frame">
                <h1>Скачать QR код</h1>
                <img class="cross" src="{% static 'images/svg/normal/cross.svg' %}" onclick="closeFrame(downloadQrBlock)"/>
                <button id="downloadPngButton">
                    <p>.PNG</p>
                </button>
                <button id="downloadSvgButton">
                    <p>.SVG</p>
                </button>                
            </div>
        </div>

        <div id="addFavoriteBlock" hidden>
            <div class="add-favorite-background"></div>
            <form class="add-favorite-frame" method="POST" action="{% url 'make_url_favorite' %}">
                <img class="cross" src="{% static 'images/svg/normal/cross.svg' %}" onclick="closeFrame(addFavoriteBlock)"/>               
                {% csrf_token %}
                <h1>Назовите ссылку</h1>
                <input id="favoriteTitleInput" name="title" type="text" placeholder="Название ссылки" minlength="1" maxlength="50" value="{{ url_title }}"/>
                <input id="favoriteUrlInput" name="url" type="hidden" value=""/>
                <button id="favoriteSubmitButton" type="submit">
                    <span>Добавить в избранное</span>
                    <img id="favoriteSubmitIcon" src="{% static 'images/svg/normal/heart.svg' %}"/>
                </button>
            </form>
        </div>

        <div id="changeBackgroundFrame" hidden>
            <h1>Фон</h1>
            <div class="colors">
                <button id="defaultColorButton" class="" onclick="setColor('default')">
                    <div></div>
                </button>
                <button id="yellowColorButton" class="" onclick="setColor('yellow')">
                    <div></div>
                </button>
                <button id="redColorButton" class="" onclick="setColor('red')">
                    <div></div>
                </button>
                <button id="blueColorButton" class="" onclick="setColor('blue')">
                    <div></div>
                </button>
            </div>
        </div>

        <img class="logo" src="{% static 'images/png/logo.png' %}" alt="Operator">
        <header>
            <div class="account">
                <a href="{% url 'account' %}">
                    {% if user.is_authenticated %}
                        <span class="bold">{{ user.first_name }} {{ user.last_name|first }}.</span>
                    {% else %}
                        <span class="bold">Войти</span>
                    {% endif %}
                    <img src="{% static 'images/svg/normal/account.svg' %}" alt="Аккаунт">
                </a>
            </div>
            <div class="menu">
                <a href="{% url 'index' %}">
                    <div class="index have-icon {% block index_selected %}{% endblock %}">
                        <div class="menu-font text-label {% block index_bold %}{% endblock %}">Линкер</div>
                        {% block index_icon %}<img src="{% static 'images/svg/normal/index.svg' %}" alt="Линкер">{% endblock %}
                    </div>
                </a>
                <a href="{% url 'qr_generator' %}">
                    <div class="qr have-icon {% block qr_selected %}{% endblock %}">
                        <div class="menu-font text-label {% block qr_bold %}{% endblock %}">QR-генератор</div>
                        {% block qr_icon %}<img src="{% static 'images/svg/normal/qr.svg' %}" alt="QR-генератор">{% endblock %}
                    </div>
                </a>
                <a href="{% url 'favorite_urls' %}">
                    <div class="history have-icon {% block history_selected %}{% endblock %}">
                        <div class="text-label menu-font {% block history_bold %}{% endblock %}">Мои ссылки и QR-коды</div>
                        {% block history_icon %}<img src="{% static 'images/svg/normal/history.svg' %}" alt="Мои ссылки и QR-коды">{% endblock %}
                    </div>
                </a>
                <a href="{% url 'price' %}">
                    <div class="price have-icon {% block price_selected %}{% endblock %}">
                        <div class="text-label menu-font {% block price_bold %}{% endblock %}">Тарифы</div>
                        {% block price_icon %}<img src="{% static 'images/svg/normal/price.svg' %}" alt="Тарифы"/>{% endblock %}
                    </div>
                </a>
            </div>
        </header>
        <script src="{% static 'js/base.js' %}"></script>
        <div class="content {% block content_class %}{% endblock %}">
            {% block content %}
    
            {% endblock %}
        </div>
        <footer>
            <a href="{% url 'privacy' %}">
                <div class="privacy text-label">Правила сервиса</div>
            </a>
            <a href="https://example.com/?ysclid=m2om2ezwy1636399194">
                <div class="company">PR-агентство Operator</div>
            </a>
            <button class="settings" onclick="changeVisible()">
                <img src="{% static 'images/svg/normal/settings.svg' %}" alt="Настройки"/>
            </button>
        </footer>
        
        <script>
            function changeFavoriteActive() {
                if (favoriteTitleInput.value.trim() !== "") {
                    favoriteSubmitButton.classList.add("active");
                    favoriteSubmitIcon.setAttribute("src", "{% static 'images/svg/normal/heart-white.svg' %}");
                } else {
                    favoriteSubmitButton.classList.remove("active");
                    favoriteSubmitIcon.setAttribute("src", "{% static 'images/svg/normal/heart.svg' %}");
                }
            };
            
            changeFavoriteActive();
            
            favoriteTitleInput.addEventListener("input", changeFavoriteActive);
        </script>
    </body>
</html>