<div id="changeBackgroundFrame" hidden>
    <h1>Фон</h1>
    <div class="colors">
        <button id="defaultColorButton" class="" onclick="setColor('default')">
            <div></div>
        </button>
        <button id="yellowColorButton" class="" onclick="setColor('yellow')">
            <div></div>
        </button>
        <button id="redColorButton" class="" onclick="setColor('red')">
            <div></div>
        </button>
        <button id="blueColorButton" class="" onclick="setColor('blue')">
            <div></div>
        </button>
    </div>
</div>