<div id="changeBackground" hidden>
    <h1>Фон</h1>
    <div class="colors">
        <button id="defaultColorButton" onclick="setColor('default')">
            <div></div>
        </button>
        <button id="yellowColorButton" onclick="setColor('yellow')">
            <div></div>
        </button>
        <button id="redColorButton" onclick="setColor('red')">
            <div></div>
        </button>
        <button id="blueColorButton" onclick="setColor('blue')">
            <div></div>
        </button>
    </div>
</div>