{% load static %}
<form id="qrEditorBlock" method="POST" action="{% url 'qr_update' %}" enctype="multipart/form-data" hidden>
    {% csrf_token %}
    <div class="background"></div>
    <div class="frame">
        <img class="cross" src="{% static 'images/svg/normal/cross.svg' %}" onclick="qrEditorBlock.setAttribute('hidden', 'hidden')"/>
        <div class="qr-background">
            <div class="qr-image">
                <div id="qrEditorCanvas"></div>
            </div>
        </div>
        <div class="controls">
            <div class="color-picker">
                <div class="left">
                    <p>Цвет QR-кода</p>
                </div>
                <div id="qrColorPickerFrame" class="right">
                    <p id="qrColorLabel">#101010</p>
                    <input type="color" id="qrColor" name="qrColor" value="#101010" />
                </div>
            </div>
            <div class="background-toogle">
                <div class="left">
                    <p>Фон QR-кода</p>
                </div>
                <div class="right">
                    <label class="switch">
                        <input name="IsWithBackground" id="backgroundDrawToogle" type="checkbox" />
                        <span class="slider">
                            <span class="label yes">Да</span>
                            <span class="label no">Нет</span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="background-color-picker">
                <div class="left">
                    <p>Цвет фона</p>
                </div>
                <div id="backgroundColorPickerFrame" class="right">
                    <p id="backgroundColorLabel">#FFFFFF</p>
                    <input type="color" id="backgroundColor" name="backgroundColor" value="#FFFFFF" />
                </div>
            </div>
            <div class="image-picker">
                <div class="left">
                    <p>Изображение</p>
                </div>
                <div class="right" onclick="logo.click()">
                    <input type="file" id="logo" name="logo" accept="image/png, image/jpeg" hidden/>
                    <img id="fileUploadButton" src="{% static 'images/svg/bold/upload.svg' %}" />
                </div>
            </div>
        </div>
        <div class="submit-button-frame">
            <input type="submit" value="Сохранить"/>
        </div>
        <input type="text" name="url" value="{{ url }}" hidden/>
    </div>
</form>
<script src="{% static 'js/parts/qr_editor.js' %}"></script>